<% provide(:title, 'Gams Pfad') %>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8 userBox">
    <h1>GAMS Pfad festlegen</h1>
    <div class="row jobBox">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for(@gams) do |f| %>
              <%= render 'shared/error_messages', object: f.object %>
            <% if current_user.calculator.nil? %>
              <%= f.text_field :gams,:placeholder => "C:\\GAMS\\win64\\24.7\\gams" %>
            <% else %>
              <%= f.text_field :gams,:value => (current_user.calculator.gams), class: "form-control" %>
            <% end %>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <%= f.submit "Speichern", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>