<% provide(:title, "Info") %>

Leibniz Universität Hannover <br />
Master of Science Operations Research and Mangement <br />
Entwicklung von Anwendungssystemen <br />
WiSe 16/17 <br />
<br />
<i>Entwicklung und Dokumentation einer Web-Applikation <br />
mit Ruby on Rails für einen Kinderbetreuungsdienst</i> <br />
<br />
von <br />
Tim Kammann <br />
Sören Schindler


