<% provide(:title, 'FAQ') %>

<div class="row container">

  <div class="col-xs-1"></div>
  <div class="col-xs-10">
  <div class="panel-group" id="accordion">
    <div class="faqHeader">Allgemein</div>

    <% if logged_in? and !current_user.admin? %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><div class="eachFaq">Kontaktformular</div></a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          Bei Fragen oder Problemen nutzen Sie bitte unser Kontaktformular um einen Administrator zu informieren. Wir kümmern uns um ihr Anliegen.
          <div style="display:inline-block">
                <%= link_to conversations_path(parent_user_id: current_user.id, job_user_id: User.find_by_id(1)),
                            method: "post", :class => "btn btn-default" do %>
                    <span class="glyphicon glyphicon-envelope"></span> Admin Kontakt
                <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"><div class="eachFaq">Ich habe Probleme bei der Darstellung der Seite. Beim "Profil anlegen" kann ich keine Inhalte sehen. Was kann ich tun? </div></a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          Sie müssen in Ihrem Browser Javascript aktiviert haben, damit die Seiten vollständig angezeigt werden können.
          <br />
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen"><div class="eachFaq">Wie genau sind die Zeiträume „vormittags“, „mittags“, usw. definiert?</div></a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            Die genauen Arbeitszeiten können Sie in Absprache selbst gestalten. Als Richtwerte können gelten:
            <li>Vormittags: 	8:00 Uhr – 12:00 Uhr</li>
            <li>Mittags: 		  12:00 Uhr – 15:00 Uhr</li>
            <li>Nachmittags:	15:00 Uhr – 18:00 Uhr</li>
            <li>Abends:		    18:00 Uhr – 21:00 Uhr</li>
            <li>Über Nacht:	  21:00 Uhr – 8:00 Uhr</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine"><div class="eachFaq">Informationen zum GAMS-Pfad</div></a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="panel-body">
          Nachdem Sie zum ersten Mal ein Elternprofil erstellt haben und auf das Lupensymbol in der Kopfzeile klicken, werden sie automatisch aufgefordert, Ihren GAMS-Pfad festzulegen. Von da an ist der GAMS-Pfad für Ihr Profil gespeichert. Sollten sie diesen noch einmal verändern wollen, so können Sie dies über „Account“ -> „GAMS-Pfad bearbeiten“ tun.
        </div>
      </div>
    </div>

    <div class="faqHeader">Eltern</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight"><div class="eachFaq">Welche Vorteile bietet mir der Premiumaccount?</div></a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          Als Premiumnutzer müssen sie nicht auf die zeitgesteuerte Zuordnung warten, sondern können diese jederzeit manuell starten. Zudem haben sie die Möglichkeit, mehrere Anfragen gleichzeitig zu versenden und Favoriten anzulegen. Die Chance auf eine schnelle Vermittlung ist hier deutlich höher!
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><div class="eachFaq">Nach welchen Kriterien wird mir eine Nanny zugewiesen?</div></a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          Unser Optimierungstool schlägt Ihnen eine gewünschte Anzahl an Nannies vor, bei denen es die größten Übereinstimmungen (den „Matching-Wert“) zwischen Ihrem Profil und dem Profil der Nannies gibt. Als Premiumnutzer können sie sich von mehreren Vorschlagen eine Nanny aussuchen.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix"><div class="eachFaq">Wenn ich mit einer Nanny sehr zufrieden war, kann ich mir diese für spätere Zuordnungen vormerken?</div></a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          Als Premiumnutzer können Sie Nannies durch einen Klick auf das Herzsymbol zu Ihren Favoriten hinzufügen. So bleiben Sie in Kontakt und können erneut Anfragen verschicken.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven"><div class="eachFaq">Kann ich mit einer Nanny in Kontakt treten, ohne dass diese persönliche Informationen wie meine Email Adresse sehen kann, um ggf. über Besonderheiten bei der Betreuung zu sprechen?</div></a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          Ja, dafür gibt es ein integriertes Messenger-System. Über dieses können Sie vor einer Vermittlung unverbindlich mit einer Nanny in Kontakt treten, bevor sie der Nanny eine Anfrage für die Betreuung senden.
        </div>
      </div>
    </div>
    <div class="faqHeader">Nanny</div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><div class="eachFaq">Was passiert, wenn ich als Nanny schon längere Zeit im Voraus einen Verfügbarkeitszeitraum angegeben habe, dann aber kurzfristig doch nicht mehr kann?</div></a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          Bevor Sie endgültig zu einem Betreuungstermin zugeordnet werden, erhalten Sie von den Eltern noch eine Anfrage, welche Sie bestätigen müssen. Wenn die Eltern danach bezahlen, ist Ihre Zusage verbindlich.
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen"><div class="eachFaq">Wer kann mein Profil sehen?</div></a>
        </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse">
        <div class="panel-body">
          Ihr Profil ist nur für ihre Matchings einsehbar. Ihre Nachrichten, Anfragen und verfasste Bewertungen können nur die Nutzer sehen, an denen sie gerichtet sind.
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xs-1"></div>
</div>




<style>
  .faqHeader {
    font-size: 27px;
    margin: 20px;
  }
  .eachFaq {
   width:80%;
   display: inline-block;
  }
  .panel-heading [data-toggle="collapse"]:after {
    font-family: 'Glyphicons Halflings';
    content: "\e072"; /* "play" icon */
    float: right;
    color: #F08380;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  .panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #3D6968;
  }
</style>

