<div class="startPageButtonWrapper">
  <%= link_to "Nanny", new_job_path, class: "btn btn-lg btn-primary startPageButtonNanny" %>
  <%= link_to "Eltern", new_parent_path, class: "btn btn-lg btn-primary startPageButtonParent" %> <br />
</div>

<div id="myCarousel" class="carousel slide startPageCarousel" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag 'child-1.jpg'%>
    </div>
    <div class="item">
      <%= image_tag 'man-1.jpg'%>
    </div>
    <div class="item">
      <%= image_tag 'mom-1.jpg'%>
    </div>
    <div class="item">
      <%= image_tag 'child-2.jpg'%>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </a>
</div>