<% if logged_in? %>

    <h3> Dies ist eine externe Bezahlseite </h3>

      <div class="row greyBox">
        <div class="col-xs-3"></div>
        <div class="col-xs-6 paymentButton">
          <% if parent? and !current_user.parent.active_requests.nil? and
              current_user.parent.active_requests.where("(paid = 't') and (accepted = 't')").any? %>
              Bezahlvorgang abschließen und Nanny buchen. </br>
              <!--for reasons of prototype, this is just a redirecter-->
              <%= link_to "Bezahlvorgang abschließen", current_user, {:class => "btn btn-warning"}%>
          <% end %>
        </div>
        <div class="col-xs-3"></div>
      </div>
<% end %>