<% if logged_in? %>

    <h3 style="text-align:center"> Dies ist eine externe Bezahlseite </h3>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-xs-6">
    <div class="row greyBox">
      <div class="col-xs-2"></div>
      <div class="col-xs-8 paymentButton">
        <% if !current_user.premium? %>
            Button Klick zum Bezahlen für Premium.
            <%= button_to "Premium upgrade", {:controller => 'static_pages', :action => 'premium'},
                          {:class => "btn btn-warning"}%>
        <% else %>
            Button Klick um Premium zu beenden.
            <%= button_to "Premium downgrade", {:controller => 'static_pages', :action => 'premium'},
                          {:class => "btn btn-warning"}%>
        <% end %>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
  <div class="col-xs-3"></div>
</div>

<% end %>