<% provide(:title, "Messages") %>

<% if !@conversation.messages.nil? %>
  <div class="row">

    <div class="col-xs-1"></div>

    <div class="col-xs-10 messageBox">

      <div class="messagesUserInfoBox">
        <% if @conversation.parent_user_id == current_user.id %>
            <a href="../../users/<%=@conversation.job_user_id%>" >
              <%= gravatar_for User.find_by(id: @conversation.job_user_id), size: 100 %>
            </a>
            <a href="../../users/<%=@conversation.job_user_id%>" class="nannyName">
              <%= User.find_by(id: @conversation.job_user_id).name %>
            </a>
        <% end %>
        <% if @conversation.job_user_id == current_user.id %>
            <a href="../../users/<%=@conversation.parent_user_id%>" >
              <%= gravatar_for User.find_by(id: @conversation.parent_user_id), size: 100 %>
            </a>
            <a href="../../users/<%=@conversation.parent_user_id%>" class="nannyName">
              <%= User.find_by(id: @conversation.parent_user_id).name %>
            </a>
        <% end %>
      </div>

      <div class="olderMessages">
      <% if @exceeds_five %>
          <%= link_to "Ältere Nachrichten anzeigen", "?m=all" %>
      <% end %>
      </div>

      <% @messages.each do |message| %>
          <% if message.user == current_user %>
              <% if message.content %>
                  <div class="row eachMessage">
                    <div class="col-xs-4">
                    </div>
                    <div class ="col-xs-8 right-align">
                     <% user = User.find(message.user_id) %>
                       <strong><a href="../../users/<%=message.user.id%>">
                         <%= user.name %></a>
                       </strong>
                       <span class="timestamp123">
                        <i> Vor <%= time_ago_in_words(message.created_at) %>.</i>
                       </span>
                     <div class="messageText">
                       <%= message.content %>
                     </div>
                    </div>
                  </div>
              <% end %>
          <% else %>
              <% if message.content %>
                      <div class="row eachMessage">
                        <div class="col-xs-8 left-align">
                          <% user = User.find(message.user_id) %>
                          <strong><a href="../../users/<%=message.user.id%>">
                            <%= user.name %></a>
                          </strong>
                          <span class="timestamp123">
                          <i>Vor <%= time_ago_in_words(message.created_at) %>.</i>
                         </span>
                          <div class="messageText">
                            <%= message.content %>
                          </div>
                        </div>
                        <div class ="col-xs-4">
                        </div>
                      </div>
                  <% end %>
          <% end %>
      <% end %>

      <div class="messageReply">
          <%= form_for [@conversation, @message], html: {class: "replyForm"} do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
              <%= f.text_area :content, class: "form-control" %>
              <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
              <%= f.submit "Senden", class: "btn btn-small" %>
        <% end %>
      </div>
    </div>

    <div class="col-xs-1"></div>
  </div>
<% end %>





