<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8 greyBox">
    <h1>Anmelden</h1>
    <div class="row whiteBox">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(:session, url: login_path) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <%= f.label :remember_me, class: "checkbox inline" do %>
                <%= f.check_box :remember_me %>
                <span>Eingeloggt bleiben.</span>
            <% end %>
            <%= f.submit "Log in", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div class="whiteBox signUp">
      <div style="padding:6px 0 12px 0;">Neuer Nutzer? Wählen Sie Ihr Team.</div>

        <%= link_to "Nanny", new_job_path, class: "btn btn-lg btn-primary smallerStartPageButtonNanny" %>
        <%= link_to "Eltern", new_parent_path, class: "btn btn-lg btn-primary smallerStartPageButtonParent" %>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>
