<!--ONLY ADMIN-->

<% provide(:title, "Matchings") %>

<% if logged_in? and current_user.admin? and !@parents.nil? and !@parents_with_matching.nil? %>

<h1>Matching Übersicht</h1>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div class="row matchingInfo">
      <div class="col-xs-6" style="font-size:16px; text-align:right;">
        <div>Eltern in der Datenbank:</div>
        <div>Nannies in der Datenbank:</div>
        <div>gefundene Matchings:</div>
      </div>
      <div class="col-xs-6" style="font-size:16px; text-align: left;">
        <div><strong><%= @parents.length %></strong></div>
        <div><strong><%= Job.all.length %></strong></div>
        <div><strong><%= @parents_with_matching.length %></strong></div>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>

    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">

        <table id="matchings" class="display table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th><strong>Eltern</strong></th>
            <th><strong>Nanny</strong></th>
          </tr>
          </thead>

          <tbody>
          <% @parents_with_matching.each do |parents_with_matching| %>
              <tr>
                <td><a href="../users/<%= parents_with_matching.user.id %>"><%= parents_with_matching.user.name %></a>
                </td>
                <td>
                  <a href="../users/<%= User.find_by_id(parents_with_matching.assigned).id %>">
                    <%= User.find_by_id(parents_with_matching.assigned).name %></a>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-2"></div>
    </div>

<% end %>



<script>
  $(document).ready(function() {
    $('.datatable').dataTable( {
    } );
  } );
</script>


