<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Sie haben eine Anfrage erhalten, <%= @user.name %></h1>
<p>
  Schauen Sie sich an, wer Sie buchen möchte: <%= @url %>.
</p>

</body>