<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Willkommen bei BabyRitter, <%= @user.name %></h1>
<p>
  Sie haben sich erfolgreich angemeldet. Ihr Nutzername lautet: <%= @user.email %>.<br>
</p>
<p>
  Folgen Sie diesem Link zum Einloggen <%= @url %>.
</p>
</body>