<% if ((@conversations.find_by(parent_user_id: current_user.id)) ||
    (@conversations.find_by(job_user_id: current_user.id))).nil? %>

    <h4>Keine Konversationen</h4>

<% else %>

<div class ="row mailFeed">
  <div class  ="col-xs-3 mailboxLink">
    <%= link_to "zur Mailbox", conversations_path, style: "font-size:16px"  %>
  </div>
  <% if @last_message.present? %>
      <div class ="col-xs-9 lastMessageBox">
        <% if @last_message.user_id == current_user.id %>
            <strong><%= @last_message.user.name %></a></strong>
            <% if @last_message.conversation.parent_user.id == current_user.id %>
                an <strong><a href="../../users/<%=@last_message.conversation.job_user.id%>">
                           <%=@last_message.conversation.job_user.name %></a></strong>
            <% end %>
            <% if @last_message.conversation.job_user.id == current_user.id %>
                an <strong><a href="../../users/<%=@last_message.conversation.parent_user.id%>">
                           <%=@last_message.conversation.parent_user.name %></a></strong>
            <% end %>
        <% else %>
            <strong><a href="../../users/<%=@last_message.user.id%>">
              <%= @last_message.user.name %></a> an mich</strong>
        <% end %>
        <span class="timestamp123">
          <i>Vor <%= time_ago_in_words(@last_message.created_at) %>.</i>
        </span>
        <div class="messageText">
          <%= @last_message.content%>
        </div>
      </div>
  <% end %>
</div>
<% end %>