<% provide(:title, "Mailbox") %>

<% if current_user.admin? %>

<h1 style="margin:12px;text-align: center">Admin Mailbox</h1>

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <table id="conversationsIndex" class="display table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th><strong>Name</strong></th>
            <th><strong>Profiltyp</strong></th>
            <th><strong>Mitglied seid</strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @all_the_users.each do |user| %>
          <% @conversations.where("(parent_user_id = " + current_user.id.to_s + ") or (job_user_id = " + current_user.id.to_s + ")").each do |conversation| %>
              <% if conversation.parent_user_id == user.id || conversation.job_user_id == user.id &&
                  (conversation.parent_user_id != current_user.id && conversation.job_user_id != current_user.id)%>
              <tr>
                <td><a href="../users/<%=user.id%>"><%= user.name %></a></td>
                <td>
                  <% if !user.parent.nil? %> Eltern <% end %>
                  <% if !user.job.nil? %> Nanny<% end %>
                  <% if user.job.nil? and user.parent.nil? %> noch kein Profil<% end %>
                </td>
                <td><%=user.created_at.strftime("%d.%m.%y")%></td>
                <td><%= link_to "Chat öffnen", conversation_messages_path(conversation)%></td>
              </tr>
                  <% end %>
              <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-1"></div>
    </div>

<% else %>

<div class="conversationsBox">
  <div class="headline">Mailbox</div>
    <div class="conversationsInner">
      <% if ((@conversations.find_by(parent_user_id: current_user.id)) ||
          (@conversations.find_by(job_user_id: current_user.id))).nil? %>
          <h4>Keine Konversationen</h4>
      <% else %>
          <% @conversations.each do |conversation| %>
          <% if conversation.parent_user_id == current_user.id || conversation.job_user_id == current_user.id %>
              <div class = "eachConversation">
                <% if conversation.parent_user_id == current_user.id %>
                    <% interlocuteur = User.find(conversation.job_user_id) %>
                <% else %>
                    <% interlocuteur = User.find(conversation.parent_user_id) %>
                <% end %>
                <a href="../users/<%=interlocuteur.id%>" >
                    <%= gravatar_for interlocuteur, size: 100 %>
                </a>
                <a href="../users/<%=interlocuteur.id%>" class="nannyName">
                    <%= interlocuteur.name %>
                </a>
                <div>
                  <% if Message.find_by(conversation_id: conversation.id).present? %>
                      <% if Message.where(conversation_id: conversation.id).count > 1 %>
                        <%= Message.where(conversation_id: conversation.id).count %> Nachrichten.
                      <% else %>
                        1 Nachricht.
                      <% end %>
                  <% end %>
                </div>
                <div class="chat">
                    <div class = "openChat"><%= link_to "Chat öffnen", conversation_messages_path(conversation)%></div>
                    <div><%= link_to conversation, method: :delete,
                                data: { confirm: "Den Chatverlauf dauerhaft löschen?" } do %>
                        <span class="glyphicon glyphicon-trash"></span><% end %>
                    </div>
                </div>
              </div>
            <% end %>
        <% end %>
      <% end %>
    </div>
</div>


<% end %>




