<% provide(:title, "Nannyprofil anpassen") %>

<h1>Nannyprofil aktualisieren</h1>


<%= form_for(current_user.job) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="parentInfos">
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Schließen</span></button>
        Hier wird beschriebene wie das alles so geht.
      </div>
    </div>

    <div class="row row-eq-height sittercontainer">

      <div class="col-xs-3 sidebar">
        <div class="sitterSidebarButton" id="informationAboutMeButton" onclick="showInformationAboutMe()">
          <div><h2>Über mich</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationBasicsButton" onclick="showInformationBasics()">
          <div><h2>Mein Nannyjob</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationActivitiesButton" onclick="showInformationActivities()">
          <div><h2>Verantwortlichkeiten</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationAvailabilityButton" onclick="showInformationAvailability()">
          <div><h2>Verfügbarkeit</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationContentButton" onclick="showInformationContent()">
          <div><h2>Beschreibung</h2></div>
        </div>
      </div>

      <div class="col-xs-9 information">

        <div id="informationAboutMe" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="row">
              <div class="col-xs-4"></div>
              <div class="col-xs-4">
                <div class="attributeLabel">*Stadt</div>
                <%= f.text_field :city, class: "form-control" %>
              </div>
              <div class="col-xs-4"></div>
            </div>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="attributeLabel">*Alter</div>
                <%= f.number_field :age, class: "form-control", min: 15 %>
              </div>
              <div class="col-xs-4">
                <div class="attributeLabel">*Geschlecht</div>
                <select id="nannyGender">
                  <option disabled selected>bitte auswählen</option>
                  <option <%=(job? && !current_user.job.nanny_gender.nil? && current_user.job.nanny_gender == 1) ? "selected" : "" %>>männlich</option>
                  <option <%=(job? && !current_user.job.nanny_gender.nil? && current_user.job.nanny_gender == 2) ? "selected" : "" %>>weiblich</option>
                </select>
                <%= f.hidden_field :nanny_gender, class: "form-control", id: "nannyGenderField"%>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="attributeLabel">Führerschein?</div>
                      </div>
                      <div class="col-xs-6">
                        <div class="attributeLabel">Eigenes Auto?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :licence, class: "onoffswitch-checkbox", id: "myonoffswitchLicence" %>
                          <label class="onoffswitch-label" for="myonoffswitchLicence">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :car, class: "onoffswitch-checkbox", id: "myonoffswitchCar" %>
                          <label class="onoffswitch-label" for="myonoffswitchCar">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="attributeLabel">Nichtraucher?</div>
                  </div>
                  <div class="panel-body">
                    <div class="onoffswitch marginCentering">
                      <%= f.check_box :nonsmoker, class: "onoffswitch-checkbox", id: "myonoffswitchNonsmoker" %>
                      <label class="onoffswitch-label" for="myonoffswitchNonsmoker">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="panel panel-default" style="text-align: center">
                  <div class="panel-heading">
                    <div class="attributeLabel">Haustiere?</div>
                  </div>
                  <div class="panel-body">
                    <div class="onoffswitch marginCentering">
                      <%= f.check_box :pets, class: "onoffswitch-checkbox", id: "myonoffswitchPets" %>
                      <label class="onoffswitch-label" for="myonoffswitchPets">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="attributeLabel">Erste-Hilfe-Zertifikat?</div>
                      </div>
                      <div class="col-xs-6">
                        <div class="attributeLabel">Babysitter-Zertifikat?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :first_aid, class: "onoffswitch-checkbox", id: "myonoffswitchFirst_aid" %>
                          <label class="onoffswitch-label" for="myonoffswitchFirst_aid">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :babysitter_certificate, class: "onoffswitch-checkbox", id: "myonoffswitchBabysitter_certificate" %>
                          <label class="onoffswitch-label" for="myonoffswitchBabysitter_certificate">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <!---------------------------------------------------->

        <div id="informationBasics" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">

            <div class="row jobPropertiesRowBottom">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="timeLabel">*Für wie viele Kinder?</div>
                <select id="kidsSelect">
                  <option <%=(job? && !current_user.job.kids.nil? && current_user.job.kids == 1) ? "selected" : "" %>>1</option>
                  <option <%=(job? && !current_user.job.kids.nil? && current_user.job.kids == 2) ? "selected" : "" %>>2</option>
                  <option <%=(job? && !current_user.job.kids.nil? && current_user.job.kids == 3) ? "selected" : "" %>>3</option>
                  <option <%=(job? && !current_user.job.kids.nil? && current_user.job.kids == 4) ? "selected" : "" %>>4+</option>
                </select>
                <%= f.hidden_field :kids, class: "form-control", id: "kidsField" %>
              </div>
              <div class="col-xs-4">
                <div class="timeLabel">*Für welches Geschlecht?</div>
                <select id="gender">
                  <option disabled selected>bitte auswählen</option>
                  <option <%=(job? && !current_user.job.gender.nil? && current_user.job.gender == 1) ? "selected" : "" %>>Junge</option>
                  <option <%=(job? && !current_user.job.gender.nil? && current_user.job.gender == 2) ? "selected" : "" %>>Mädchen</option>
                  <option id="bothGenders" <%=(job? && !current_user.job.gender.nil? && current_user.job.gender == 3) ? "selected" : "" %>>egal</option>
                </select>
                <%= f.hidden_field :gender, class: "form-control", id: "genderField" %>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering" style="padding-top:24px;">
              <div class="timeLabel">*Für welches Alter der Kinder</div>
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-1"></div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Baby <br /> (0-1 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Kleinkind <br /> (1-3 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Vorschüler <br /> (3-5 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Grundschüler <br /> (5-12 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Teenager <br /> (12+ Jahre)</div>
                      </div>
                      <div class="col-xs-1"></div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-1"></div>
                      <div class="col-xs-2">
                        <%= f.check_box :baby, class: "form-control ageCheck checkbox-custom", id: "babyCheckbox" %>
                        <label for="babyCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :toddler, class: "form-control ageCheck checkbox-custom", id: "toddlerCheckbox" %>
                        <label for="toddlerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :preschooler, class: "form-control ageCheck checkbox-custom", id: "preschoolerCheckbox" %>
                        <label for="preschoolerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :gradeschooler, class: "form-control ageCheck checkbox-custom", id: "gradeschoolerCheckbox"%>
                        <label for="gradeschoolerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :teenager, class: "form-control ageCheck checkbox-custom", id: "teenagerCheckbox" %>
                        <label for="teenagerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row jobPropertiesRowTop" style="margin-bottom:12px;">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="timeLabel">*Erfahrung als Babysitter</div>
                <select id="experienceSelect">
                  <option disabled selected>bitte auswählen</option>
                  <option <%=(job? && !current_user.job.experience.nil? && current_user.job.experience == 1) ? "selected" : "" %>>weniger als 1 Jahr</option>
                  <option <%=(job? && !current_user.job.experience.nil? && current_user.job.experience == 2) ? "selected" : "" %>>1-2 Jahre</option>
                  <option <%=(job? && !current_user.job.experience.nil? && current_user.job.experience == 3) ? "selected" : "" %>>3-4 Jahre</option>
                  <option <%=(job? && !current_user.job.experience.nil? && current_user.job.experience == 4) ? "selected" : "" %>>5+ Jahre</option>
                </select>
                <%= f.hidden_field :experience, class: "form-control", id: "experienceField" %>
              </div>
              <div class="col-xs-4">
                <div class="timeLabel">*gewünschter Stundenlohn</div>
                <div class="input-group">
                  <%= f.number_field :rate, class: "form-control", min: 9, max: 30 %>
                  <span class="input-group-addon"><strong>€</strong></span>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <!---------------------------------------------------->

        <div id="informationActivities" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="attributeLabel">Kochen?</div>
                      </div>
                      <div class="col-xs-6">
                        <div class="attributeLabel">Füttern?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :cooking, class: "onoffswitch-checkbox", id: "myonoffswitchCooking" %>
                          <label class="onoffswitch-label" for="myonoffswitchCooking">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :feed, class: "onoffswitch-checkbox", id: "myonoffswitchFeed" %>
                          <label class="onoffswitch-label" for="myonoffswitchFeed">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="attributeLabel">Körperpflege (Duschen, Wickeln etc.)?</div>
                      </div>
                      <div class="col-xs-6">
                        <div class="attributeLabel">Ins Bett bringen?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :bodycare, class: "onoffswitch-checkbox", id: "myonoffswitchBodycare" %>
                          <label class="onoffswitch-label" for="myonoffswitchBodycare">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :to_bed, class: "onoffswitch-checkbox", id: "myonoffswitchTo_bed" %>
                          <label class="onoffswitch-label" for="myonoffswitchTo_bed">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="attributeLabel">Wäsche waschen?</div>
                      </div>
                      <div class="col-xs-6">
                        <div class="attributeLabel">Kleine Besorgungen erledigen?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :laundry, class: "onoffswitch-checkbox", id: "myonoffswitchLaundry" %>
                          <label class="onoffswitch-label" for="myonoffswitchLaundry">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :run_errands, class: "onoffswitch-checkbox", id: "myonoffswitchRun_errands" %>
                          <label class="onoffswitch-label" for="myonoffswitchRun_errands">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="attributeLabel">Vorlesen?</div>
                      </div>
                      <div class="col-xs-6">
                        <div class="attributeLabel">Musik machen?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :read, class: "onoffswitch-checkbox", id: "myonoffswitchRead" %>
                          <label class="onoffswitch-label" for="myonoffswitchRead">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :music, class: "onoffswitch-checkbox", id: "myonoffswitchMusic" %>
                          <label class="onoffswitch-label" for="myonoffswitchMusic">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-2"></div>
              <div class="col-xs-8">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="attributeLabel">Hausaufgabenhilfe?</div>
                      </div>
                      <div class="col-xs-6">
                        <div class="attributeLabel">Malen und Zeichnen?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :homework, class: "onoffswitch-checkbox", id: "myonoffswitchHomework" %>
                          <label class="onoffswitch-label" for="myonoffswitchHomework">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :painting, class: "onoffswitch-checkbox", id: "myonoffswitchPainting" %>
                          <label class="onoffswitch-label" for="myonoffswitchPainting">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering">
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="attributeLabel">Sport?</div>
                      </div>
                      <div class="col-xs-4">
                        <div class="attributeLabel">Schwimmen gehen?</div>
                      </div>
                      <div class="col-xs-4">
                        <div class="attributeLabel">Ausflüge unternehmen?</div>
                      </div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :sports, class: "onoffswitch-checkbox", id: "myonoffswitchSports" %>
                          <label class="onoffswitch-label" for="myonoffswitchSports">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :swimming, class: "onoffswitch-checkbox", id: "myonoffswitchSwimming" %>
                          <label class="onoffswitch-label" for="myonoffswitchSwimming">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="onoffswitch marginCentering">
                          <%= f.check_box :excursions, class: "onoffswitch-checkbox", id: "myonoffswitchExcursions" %>
                          <label class="onoffswitch-label" for="myonoffswitchExcursions">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <!---------------------------------------------------->

        <div id="informationAvailability" class="row sitterInformation">
          <div class="col-xs-1">
          </div>
          <div class="col-xs-10 availabilityTableOuter">
            <div class ="row validTimes">
              <div class="col-xs-3">
                <div class="attributeLabel">Mein Kalendar ist</div>
              </div>
              <div class="col-xs-3">
                <%= f.label :valid_from, "*gültig ab:" %>
                <%= f.text_field :valid_from, id: 'dt1', class: "form-control" %>
              </div>
              <div class="col-xs-3">
                <%= f.label :valid_until, "*gültig bis:"  %>
                <%= f.text_field :valid_until, id: 'dt2', class: "form-control" %>
              </div>
              <div class="col-xs-3"></div>
            </div>
            <div class="availabilityCalendar">
              <div class="row calendarRow">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 calendarWeekendSideColumn"></div>
                <div class="col-xs-1 calendarWeekdayColumn">Mo</div>
                <div class="col-xs-1 calendarWeekdayColumn">Di</div>
                <div class="col-xs-1 calendarWeekdayColumn">Mi</div>
                <div class="col-xs-1 calendarWeekdayColumn">Do</div>
                <div class="col-xs-1 calendarWeekdayColumn">Fr</div>
                <div class="col-xs-1 calendarWeekendColumn">Sa</div>
                <div class="col-xs-1 calendarWeekendColumn">So</div>
                <div class="col-xs-1"></div>
              </div>
              <div class="row calendarRow">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 calendarSideColumn">Vormittags</div>
                <div class="col-xs-1 calendarColumn" id="cal1"></div>
                <div class="col-xs-1 calendarColumn" id="cal2"></div>
                <div class="col-xs-1 calendarColumn" id="cal3"></div>
                <div class="col-xs-1 calendarColumn" id="cal4"></div>
                <div class="col-xs-1 calendarColumn" id="cal5"></div>
                <div class="col-xs-1 calendarColumn" id="cal6"></div>
                <div class="col-xs-1 calendarColumn" id="cal7"></div>
                <div class="col-xs-1"></div>
              </div>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 calendarSideColumn">Über Mittag</div>
                <div class="col-xs-1 calendarColumn" id="cal8"></div>
                <div class="col-xs-1 calendarColumn" id="cal9"></div>
                <div class="col-xs-1 calendarColumn" id="cal10"></div>
                <div class="col-xs-1 calendarColumn" id="cal11"></div>
                <div class="col-xs-1 calendarColumn" id="cal12"></div>
                <div class="col-xs-1 calendarColumn" id="cal13"></div>
                <div class="col-xs-1 calendarColumn" id="cal14"></div>
                <div class="col-xs-1"></div>
              </div>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 calendarSideColumn">Nachmittags</div>
                <div class="col-xs-1 calendarColumn" id="cal15"></div>
                <div class="col-xs-1 calendarColumn" id="cal16"></div>
                <div class="col-xs-1 calendarColumn" id="cal17"></div>
                <div class="col-xs-1 calendarColumn" id="cal18"></div>
                <div class="col-xs-1 calendarColumn" id="cal19"></div>
                <div class="col-xs-1 calendarColumn" id="cal20"></div>
                <div class="col-xs-1 calendarColumn" id="cal21"></div>
                <div class="col-xs-1"></div>
              </div>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 calendarSideColumn">Abends</div>
                <div class="col-xs-1 calendarColumn" id="cal22"></div>
                <div class="col-xs-1 calendarColumn" id="cal23"></div>
                <div class="col-xs-1 calendarColumn" id="cal24"></div>
                <div class="col-xs-1 calendarColumn" id="cal25"></div>
                <div class="col-xs-1 calendarColumn" id="cal26"></div>
                <div class="col-xs-1 calendarColumn" id="cal27"></div>
                <div class="col-xs-1 calendarColumn" id="cal28"></div>
                <div class="col-xs-1"></div>
              </div>
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-3 calendarSideColumn">Über Nacht</div>
                <div class="col-xs-1 calendarColumn" id="cal29"></div>
                <div class="col-xs-1 calendarColumn" id="cal30"></div>
                <div class="col-xs-1 calendarColumn" id="cal31"></div>
                <div class="col-xs-1 calendarColumn" id="cal32"></div>
                <div class="col-xs-1 calendarColumn" id="cal33"></div>
                <div class="col-xs-1 calendarColumn" id="cal34"></div>
                <div class="col-xs-1 calendarColumn" id="cal35"></div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </div>
          <div class="col-xs-1">
          </div>
          <%= f.hidden_field :time, :value => "" , :id => "timeField"%>
        </div>
        <!---------------------------------------------------->

        <div id="informationContent" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="attributeLabel">*Beschreibung</div>
            <%= f.text_area :content, class: 'form-control', style: "margin-top:12px"  %>
          </div>
          <div class="col-xs-1"></div>
        </div>
        <!---------------------------------------------------->
      </div>
    </div>


    <br />
    <%= f.hidden_field :user_id, :value => current_user.id.to_i %>
    <div class="saveButton">
      <%= f.submit "Profil speichern", class: "btn btn-primary createButton" %>
    </div>
<% end %>







<script>

  //  Age Selectmenu
  $( "#gender" ).selectmenu();
  $( "#kidsSelect" ).selectmenu();
  var kids = 1
  $( "#kidsSelect" ).selectmenu({
    change: function( event, ui ) {
      kids = ui.item.index + 1;
      $("#kidsField").val(kids);
    }
  });

  //  Selectors
  $( "#gender" ).selectmenu({
    change: function( event, ui ) {
      $( "#genderField" ).val(ui.item.index);
    }});
  $( "#nannyGender" ).selectmenu({
    change: function( event, ui ) {
      $( "#nannyGenderField" ).val(ui.item.index);
    }});
  $( "#experienceSelect" ).selectmenu({
    change: function( event, ui ) {
      $( "#experienceField" ).val(ui.item.index);
    }});



  //-----sidebar-----//
  function showInformationBasics() {
    $('#informationAboutMe').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationBasics').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'white');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
  }
  function showInformationAboutMe() {
    $('#informationBasics').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationAboutMe').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'white');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
  }

  function showInformationActivities() {
    $('#informationBasics').css('display', 'none');
    $('#informationAboutMe').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationActivities').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'white');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
  }
  function showInformationAvailability() {
    $('#informationBasics').css('display', 'none');
    $('#informationAboutMe').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationAvailability').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'white');
  }
  function showInformationContent() {
    $('#informationBasics').css('display', 'none');
    $('#informationAboutMe').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationContent').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'white');
  }


  //-----datepicker-----//


  $("#dt1").datepicker({
    format: "yyyy-mm-dd",
    startDate: "today",
    autoclose: true,
    language: "de"
  });
  $('#dt2').datepicker({
    format: "yyyy-mm-dd",
    startDate: "today",
    autoclose: true,
    language: "de"
  });

  //second date should be equal or higher than first date
  $("#dt1").datepicker().on("changeDate", function(e) {
    var date = $('#dt1').datepicker('getDate');
    //date.setDate(date.getDate() + 1);
    $('#dt2').datepicker('setStartDate', date);
    $('#dt2').datepicker('setDate', date);
    makeField();
  });
  $("#dt2").datepicker().on("changeDate", function(e) {
    var date1 = $('#dt1').datepicker('getDate');
    var date2 = $('#dt2').datepicker('getDate');
    //check to prevent a user from entering a date below date of dt1
    if (date2 < date1) {
      var startDate = $('#dt2').datepicker('getStartDate');
      $('#dt2').datepicker('setDate', startDate);
    }
    makeField();
  });

  function makeField() {
    var date1 = $('#dt1').datepicker('getDate');
    var date2 = $('#dt2').datepicker('getDate');
    var difference = date2/86400000-date1/86400000;

    for (i = 1; i <= 35; i++) {
      calArray[i] = false;
      calAllowedArray[i] = false;
      $('#cal'+i).css('background-color', 'white');
    }

    if (date1 !== null) {
      if (difference < 7) {
        date1 = date1.getDay() === 0 ? 7 : date1.getDay();
        for (var i = date1; i <= date1 + difference; i++) {
          for (var j = 0; j < 5; j++) {
            calAllowedArray[(((i - 1) % 7) + 1) + 7 * j] = true;
            $('#cal' + ((((i - 1) % 7) + 1) + 7 * j)).css('background-color', '#F5F5F2');
          }
        }
      } else {
        for (i = 1; i <= 35; i++) {
          calAllowedArray[i] = true;
          $('#cal' + i).css('background-color', '#F5F5F2');
        }
      }
    }
  }


  //-----timepicker-----//
  var calArray = [false];
  var calAllowedArray = [false];


  $( document ).ready(function(){
    console.log("readyeddy")

    $('#dt1').val("<%=job? ? current_user.job.valid_from : ""%>").datepicker("update");
    $('#dt2').val("<%=job? ? current_user.job.valid_until : ""%>").datepicker("update");
    makeField();
    //schleifenvariable vom Javascript im Embedded Ruby is a pain in the ass
    calArray[1] = <%=(job? && @times.include?('1'))%>;
    calArray[2] = <%=(job? && @times.include?('2'))%>;
    calArray[3] = <%=(job? && @times.include?('3'))%>;
    calArray[4] = <%=(job? && @times.include?('4'))%>;
    calArray[5] = <%=(job? && @times.include?('5'))%>;
    calArray[6] = <%=(job? && @times.include?('6'))%>;
    calArray[7] = <%=(job? && @times.include?('7'))%>;
    calArray[8] = <%=(job? && @times.include?('8'))%>;
    calArray[9] = <%=(job? && @times.include?('9'))%>;
    calArray[10] = <%=(job? && @times.include?('10'))%>;
    calArray[11] = <%=(job? && @times.include?('11'))%>;
    calArray[12] = <%=(job? && @times.include?('12'))%>;
    calArray[13] = <%=(job? && @times.include?('13'))%>;
    calArray[14] = <%=(job? && @times.include?('14'))%>;
    calArray[15] = <%=(job? && @times.include?('15'))%>;
    calArray[16] = <%=(job? && @times.include?('16'))%>;
    calArray[17] = <%=(job? && @times.include?('17'))%>;
    calArray[18] = <%=(job? && @times.include?('18'))%>;
    calArray[19] = <%=(job? && @times.include?('19'))%>;
    calArray[20] = <%=(job? && @times.include?('20'))%>;
    calArray[21] = <%=(job? && @times.include?('21'))%>;
    calArray[22] = <%=(job? && @times.include?('22'))%>;
    calArray[23] = <%=(job? && @times.include?('23'))%>;
    calArray[24] = <%=(job? && @times.include?('24'))%>;
    calArray[25] = <%=(job? && @times.include?('25'))%>;
    calArray[26] = <%=(job? && @times.include?('26'))%>;
    calArray[27] = <%=(job? && @times.include?('27'))%>;
    calArray[28] = <%=(job? && @times.include?('28'))%>;
    calArray[29] = <%=(job? && @times.include?('29'))%>;
    calArray[30] = <%=(job? && @times.include?('30'))%>;
    calArray[31] = <%=(job? && @times.include?('31'))%>;
    calArray[32] = <%=(job? && @times.include?('32'))%>;
    calArray[33] = <%=(job? && @times.include?('33'))%>;
    calArray[34] = <%=(job? && @times.include?('34'))%>;
    calArray[35] = <%=(job? && @times.include?('35'))%>;
    var result = "";
    for (i = 1; i <= 35; i++) {
      if (calArray[i]) {
        $('#cal'+i).css('background-color', '#D7F0DA');
        result += i + ","
      } else {
        if (calAllowedArray[i]) {
          $('#cal' + i).css('background-color', '#F5F5F2');
        }
      }
    }
    result = result.substring(0,result.length-1);
    $('#timeField').val(result);
  });

  $('.calendarColumn').on('click',function () {
    var index = parseInt(this.id.substring(3,this.id.length));
    if (calAllowedArray[index]) {
      calArray[index] = !calArray[index];
      if (calArray[index]) {
        $('#' + this.id).css('background-color', '#D7F0DA');
      } else {
        $('#' + this.id).css('background-color', '#F5F5F2');
      }

      var result = "";
      for (i = 1; i <= 35; i++) {
        if(calArray[i]) {
          result += i + ","
        }
      }
      result = result.substring(0,result.length-1);
      $('#timeField').val(result);
    }
  });

  $('.calendarColumn').hover(function() {
    var index = parseInt(this.id.substring(3,this.id.length));
    if (calAllowedArray[index]) {
      $('#' + this.id).css( 'cursor', 'pointer' );
    }
  }, function() {
    var index = parseInt(this.id.substring(3,this.id.length));
    $('#' + this.id).css( 'cursor', 'default' );
  });
</script>






