<!--ONLY ADMIN-->

<% provide(:title, 'Alle Nannies') %>

<% if logged_in? and !@users.nil? and current_user.admin? %>

    <h3 style="margin:12px;text-align: center "><%= @users.count %> registrierte Nannies.</h3>

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <table id="jobIndex" class="display table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th><strong>Nanny Name</strong></th>
            <th><strong>Wohnort</strong></th>
            <th><strong>Alter</strong></th>
            <th><strong>Stundenlohn</strong></th>
            <th><strong>Profil aktualisiert am</strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |nanny| %>
              <tr>
                <td><a href="../users/<%=nanny.id%>"><%= nanny.name %></a></td>
                <td><%= nanny.job.city %></td>
                <td><%= nanny.job.age %></td>
                <td><%= nanny.job.rate %> €</td>
                <td><%= nanny.job.updated_at.strftime("%d.%m.%y") %></td>
                <td><a data-confirm="Das Nannyprofil wirklich löschen?" rel="nofollow" data-method="delete" href="/jobs/<%= nanny.job.id%>">
                  <span class="glyphicon glyphicon-remove"></span> Nannyprofil löschen</a></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-1"></div>
    </div>
<% end %>
