<% provide(:title, 'Sign up') %>

<div class="row">
  <div class="col-xs-2">
  </div>
  <div class="col-xs-8 greyBox">
    <h1>Account erstellen</h1>
    <div class="row whiteBox">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@user) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
            <%= f.label :Passwort %>
            <%= f.password_field :password, class: 'form-control' %>
            <%= f.label :password_confirmation, "Passwort bestätigen" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            <%= f.submit "Account erstellen", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-2">
  </div>
</div>