<% provide(:title, ("Bewertungen von " + @user.name.to_s)) %>

<% if current_user?(@user) %>
    <h1>Meine Bewertungen</h1>
    <% else %>
    <h1>Bewertungen von <%=@user.name%></h1>
<% end %>

<div class="row">
  <div class="col-xs-2"></div>
  <div class="col-xs-8">
    <div id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading" style="padding:0;">
          <div class="row panelHeader">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"
                   id="receivedRatings" class="col-xs-6 panelTitle">
                  Erhaltene Bewertungen</a>
              </h4>

            <% if current_user.admin? or current_user?(@user) %>
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"
                   id="sentRatings" class="col-xs-6 panelTitle">
                  Verfasste Bewertungen</a>
              </h4>
            <% end %>
          </div>
        </div>

        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">

            <% @ratings_received.each do |rating_received| %>

                <% sender = User.find_by(id: rating_received.sender_id) %>

                    <div class="row eachRating">

                      <div class="col-xs-3" style="text-align: left">
                        <a href="../<%=sender.id%>">
                          <%= gravatar_for sender, size: 60 %>
                        </a>
                        <a href="../<%=sender.id%>">
                          <%= sender.name %>
                        </a>
                      </div>

                      <div class="col-xs-9">
                        <div class="row ratingContent">
                          <div class="col-xs-12">
                            <%= rating_received.content %>
                          </div>
                        </div>

                        <div class="row">
                          <div class="col-xs-6">
                            <% if !@user.job.nil? %>
                                <div>Pünktlichkeit</div>
                                <div>Genauigkeit der Angaben</div>
                                <div>Zufriedenheit des Kindes</div>
                                <div>Empfehlung</div>
                            <% end %>
                            <% if !@user.parent.nil? %>
                                <div>Sauberkeit</div>
                                <div>Einhaltung der Zeiten</div>
                                <div>Freundlichkeit</div>
                                <div>Empfehlung</div>
                            <% end %>
                          </div>
                          <div class="col-xs-6">
                            <% if !@user.job.nil? %>
                                <div>
                                  <%(1..rating_received.job_punctuality.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.job_punctuality.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                                <div>
                                  <%(1..rating_received.job_correctness.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.job_correctness.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                                <div>
                                  <%(1..rating_received.job_satisfaction_of_child.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.job_satisfaction_of_child.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                                <div>
                                  <%(1..rating_received.job_recommendation.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.job_recommendation.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                            <% end %>
                            <% if !@user.parent.nil? %>
                                <div>
                                  <%(1..rating_received.parent_tidiness.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.parent_tidiness.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                                <div>
                                  <%(1..rating_received.parent_correctness.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.parent_correctness.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                                <div>
                                  <%(1..rating_received.parent_kindness.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.parent_kindness.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                                <div>
                                  <%(1..rating_received.parent_recommendation.to_i).each do |n| %>
                                      <span class="glyphicon glyphicon-star"></span>
                                      <% n %>
                                  <% end %>
                                  <%(rating_received.parent_recommendation.to_i..4).each do |n| %>
                                      <span class="glyphicon glyphicon-star-empty"></span>
                                      <% n %>
                                  <% end %>
                                </div>
                            <% end %>
                          </div>
                        </div>
                        <div class="ratingCreatedAt" style="font-weight: normal">Bewertung abgegeben vor <%= time_ago_in_words(rating_received.created_at) %>.</div>
                      </div>
                    </div>
                <% end %>
          </div>
        </div>

        <% if current_user.admin? or current_user?(@user) %>
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">

              <% @ratings_sent.each do |rating_sent| %>

                  <% receiver = User.find_by(id: rating_sent.receiver_id) %>

                  <div class="row eachRating">

                    <div class="col-xs-3" style="text-align: left">
                      <a href="../<%=receiver.id%>">
                        <%= gravatar_for receiver, size: 60 %>
                      </a>
                      <a href="../<%=receiver.id%>">
                        <%= receiver.name %>
                      </a>
                    </div>

                    <div class="col-xs-9">
                      <div class="row ratingContent">
                        <div class="col-xs-12">
                          <%= rating_sent.content %>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-xs-6">
                          <% if parent? %>
                              <div>Pünktlichkeit</div>
                              <div>Genauigkeit der Angaben</div>
                              <div>Zufriedenheit des Kindes</div>
                              <div>Empfehlung</div>
                          <% end %>
                          <% if job? %>
                              <div>Sauberkeit</div>
                              <div>Einhaltung der Zeiten</div>
                              <div>Freundlichkeit</div>
                              <div>Empfehlung</div>
                          <% end %>
                        </div>
                        <div class="col-xs-6">
                          <% if parent? %>
                              <div>
                                <%(1..rating_sent.job_punctuality.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.job_punctuality.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                              <div>
                                <%(1..rating_sent.job_correctness.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.job_correctness.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                              <div>
                                <%(1..rating_sent.job_satisfaction_of_child.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.job_satisfaction_of_child.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                              <div>
                                <%(1..rating_sent.job_recommendation.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.job_recommendation.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                          <% end %>
                          <% if job? %>
                              <div>
                                <%(1..rating_sent.parent_tidiness.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.parent_tidiness.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                              <div>
                                <%(1..rating_sent.parent_correctness.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.parent_correctness.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                              <div>
                                <%(1..rating_sent.parent_kindness.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.parent_kindness.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                              <div>
                                <%(1..rating_sent.parent_recommendation.to_i).each do |n| %>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <% n %>
                                <% end %>
                                <%(rating_sent.parent_recommendation.to_i..4).each do |n| %>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <% n %>
                                <% end %>
                              </div>
                          <% end %>
                        </div>
                      </div>
                      <div class="ratingCreatedAt" style="font-weight: normal">Bewertung abgegeben vor <%= time_ago_in_words(rating_sent.created_at) %>.</div>
                    </div>
                  </div>
              <% end %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-2"></div>
</div>



<script>
  $('#receivedRatings').on('click',function () {
    $('#sentRatings').css('color', 'darkgray');
    $('#receivedRatings').css('background-color', '#f5f5f5');
    $('#sentRatings').css('background-color', '#FAFAFA');
    $('#receivedRatings').css('color', 'black');
  });
  $('#sentRatings').on('click',function () {
    $('#receivedRatings').css('color', 'darkgrey');
    $('#sentRatings').css('background-color', '#f5f5f5');
    $('#receivedRatings').css('background-color', '#FAFAFA');
    $('#sentRatings').css('color', 'black');
  });


  $( document ).ready(function(){
  <% if current_user?(@user) or current_user.admin? %>
    $('#sentRatings').css('color', 'darkgray');
    $('#receivedRatings').css('background-color', '#f5f5f5');
    $('#sentRatings').css('background-color', '#FAFAFA');
    $('#receivedRatings').css('color', 'black');
    <% end %>
  });

</script>

