<% provide(:title, @user.name) %>


<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 <%= (current_user.premium? && current_user?(@user)) ? "premiumBox" : "userBox" %>">

    <div class="row userInfoBox">
      <div class="col-xs-6">
        <div class="userPic">
          <%= gravatar_for @user, size: 100 %>
        </div>
        <div class ="userName">
          <%= @user.name %>
        </div>
        Mitglied seit dem:
        <div><%= @user.user_since %></div>
      </div>

      <% if !((job? or parent?) or current_user.admin?) %>
          <div class="col-xs-6">
            <div style="padding:6px 0 12px 0;">Sie haben noch kein Profil erstellt. <br />
              Wählen Sie ihr Team.</div>
            <%= link_to "Nanny", new_job_path, class: "btn btn-lg btn-primary smallerStartPageButtonNanny" %>
            <%= link_to "Eltern", new_parent_path, class: "btn btn-lg btn-primary smallerStartPageButtonParent" %>
          </div>
      <% end %>
      <div class="col-xs-6 matchedNanniesButtons">
        <% if (@user != current_user) and parent? and !@user.job.nil? and
            (current_user.premium? or (@user.id == current_user.parent.assigned.to_i)) %>
            <% if current_user.premium? %>
                <div style="display:inline-block">
                  <% if current_user.following?(@user) %>
                      <%= form_for(current_user.active_relationships.find_by(followed_id: @user.id),
                                   html: { method: :delete }) do |f|  %>
                          <%= hidden_field_tag(:the_requested_user, @user.id) %>
                          <%= hidden_field_tag(:redirecter, 'back_to_user') %>
                          <%= button_tag(type: "submit", class: "btn btn-danger") do %>
                              <span><i class="glyphicon glyphicon-heart-empty"></i> Vergessen</span>
                          <% end %>
                      <% end %>
                  <% else %>
                      <%= form_for(current_user.active_relationships.build,
                                   :url => url_for(:controller => 'relationships', :action => 'create')) do |f| %>
                          <%= hidden_field_tag :followed_id, @user.id %>
                          <%= hidden_field_tag(:redirecter, 'back_to_user') %>
                          <%= button_tag(type: "submit", class: "btn btn-default") do %>
                              <span><i class="glyphicon glyphicon-heart"></i> Merken</span>
                          <% end %>
                      <% end %>
                  <% end %>
                </div>
            <% end %>

            <div style="display:inline-block">
                <%= link_to conversations_path(parent_user_id: current_user.id, job_user_id: @user.id),
                            method: "post", :class => "btn btn-default" do %>
                    <span class="glyphicon glyphicon-envelope"></span> Kontakt
                <% end %>
            </div>

            <div style="display:inline-block">
              <% request = current_user.parent.active_requests.find_by(potential_id: @user.job.id) %>
              <% if !request.nil? and !request.paid? and !request.accepted? %>
                  <%= form_for(current_user.parent.active_requests.find_by(potential_id: @user.job.id),
                               html: { method: :delete }) do |f| %>
                      <%= hidden_field_tag(:the_requested_user, @user.id) %>
                      <%= hidden_field_tag(:redirecter, 'back_to_user') %>
                      <%= button_tag(type: "submit", class: "btn btn-success") do %>
                          <span><i class="glyphicon glyphicon-circle-arrow-down"></i> Anfrage zurück</span>
                      <% end %>
                  <% end %>
              <% end %>
              <% if !request.nil? and !request.paid? and request.accepted? %>
                  <%= form_for(request, :url => url_for(:controller => 'requests', :action => 'pay')) do |f| %>
                      <%= hidden_field_tag(:request_id, request.id) %>
                      <%= button_tag(type: "submit", class: "btn btn-primary",
                                     :data => {:confirm => 'Wenn Sie diese Nanny buchen, werden alle offenen Anfragen gelöscht. Möchten Sie fortfahren?'})  do %>
                          <span><i class="glyphicon glyphicon-euro"></i> Bezahlen</span>
                      <% end %>
                  <% end %>
              <% end %>
              <!--Wenn keine Anfrage besteht ODER erst wenn Job abgeschlossen, dann neue Anfrage an dieselbe Nanny-->
              <% if request.nil? or (request.paid? and
                  (("20" + Time.now.strftime("%y%m%d")).to_i >= current_user.parent.valid_from.tr('-', '').to_i)) %>
                  <%= form_for current_user.parent.active_requests.build,
                               :url => url_for(:controller => 'requests', :action => 'create') do |f| %>
                      <%= f.hidden_field :potential_id, :value =>  @user.job.id%>
                      <%= f.hidden_field :start_date,:value => current_user.parent.valid_from %>
                      <%= f.hidden_field :end_date,:value => current_user.parent.valid_until %>
                      <%= f.hidden_field :time,:value => current_user.parent.time %>
                      <%= hidden_field_tag(:the_requested_user, @user.id) %>
                      <%= hidden_field_tag(:redirecter, 'back_to_user') %>
                      <%= button_tag(type: "submit", class: "btn btn-default") do %>
                          <span><i class="glyphicon glyphicon-circle-arrow-up"></i> Anfrage stellen</span>
                      <% end %>
                  <% end %>
              <% end %>
            </div>
          <% end %>

        <% if ((@user != current_user) and job?) %>
            <div style="display:inline-block">
              <%= link_to conversations_path(parent_user_id: @user.id, job_user_id: current_user.id),
                          method: "post", :class => "btn btn-default" do %>
                  <span class="glyphicon glyphicon-envelope"></span> Kontakt
              <% end %>
            </div>
        <% end %>

        <div class="premiumButton">
          <% if current_user?(@user) and parent? %>
              <div class="premiumAlign">
                <% if !current_user.premium? %>
                    <%= link_to "Premium upgrade", proto_premium_path , :class => "btn btn-warning" %>
                <% else %>
                    <div class="glyphicon glyphicon-star"></div>
                    <div><strong>Premium</strong></div>
                <% end %>
              </div>
        <% end %>
        </div>
      </div>
    </div>

    <% if !@user.job.nil? %>
      <div class="whiteBox">
        <% if current_user?(@user) %><div class="headline">Mein Nannyprofil</div>
        <% else %><div class="headline">Nannyprofil</div>
        <% end %>
        <%= render 'shared/job'%>
        <% if @correct_nanny or current_user?(@user) or current_user.premium? or current_user.admin? or
            (parent? and !current_user.parent.assigned.nil? and current_user.parent.assigned.to_i == @user.id.to_i) %>
            <div class="availabilityBox">
              <%= render 'shared/availability'%>
            </div>
        <% end %>
      </div>
    <% end %>

    <% if (current_user.admin? and !@user.parent.nil?) or (parent? and current_user?(@user)) or
        (job? and(current_user.job.interesteds.include?(@user.parent)))%>
      <div class="whiteBox">
        <% if current_user?(@user) %><div class="headline">Mein Elternprofil</div>
        <% else %><div class="headline">Elternprofil</div>
        <% end %>
        <%= render 'shared/parent' %>
      </div>
    <% end %>

    <% if (current_user.admin? and !@user.parent.nil?) or
        (parent? and !current_user.premium? and current_user?(@user)) %>
        <hr class ="orangeLine">
        <div class="whiteBox">
          <% if current_user.admin? %><div class="headline">Matching</div><% else %>
              <div class="headline">Mein Matching</div><% end %>
          <% if @user.parent.assigned.nil? or (@user.parent.assigned.to_i == 0) %>
              <h4>Derzeit kein Matching</h4>
          <% else %>
              <%= render 'shared/matched' %>
          <% end %>
        </div>
    <% end %>

    <% if parent? and current_user?(@user) and @potentials.any? %>
        <hr class ="orangeLine">
        <div class=" potentialsBox">
          <div class="headline">Meine Anfragen</div>
          <%= render 'shared/potentials' %>
        </div>
    <% end %>

    <% if job? and current_user?(@user) and @interesteds.any? %>
        <hr class ="orangeLine">
        <div class="whiteBox" style="display: block">
          <div class="headline">Meine Anfragen</div>
          <%= render 'shared/interesteds' %>
        </div>
    <% end %>

    <% if parent? and current_user?(@user) and current_user.following.any? and current_user.premium? %>
        <hr class ="orangeLine">
        <div class="whiteBox">
          <div class="headline">Nanny-Merkliste</div>
            <% current_user.following.each do |user| %>
              <div class="eachOnRemeberList">
                <%= link_to gravatar_for(user, size: 60), user %>
                <a href="<%=user.id%>">
                  <%= user.name %></a>
              </div>
            <% end %>
        </div>
    <% end %>

    <% if current_user?(@user)%>
        <hr class ="orangeLine">
        <div class="whiteBox">
          <% if current_user.admin? %>
              <div class="headline">Admin Mailbox</div>
          <% else %>
              <div class="headline">Meine Mailbox</div>
          <% end %>
          <%= render 'conversations/mailbox' %>
        </div>
    <% end %>

    <% if !(current_user?(@user) and current_user.admin?)%>
    <hr class="orangeLine">
    <div class="whiteBox">
      <% if current_user?(@user) %><div class="headline">Meine Bewertungen</div><% else %>
          <div class="headline">Bewertungen</div><% end %>
      <%= render 'shared/rating' %>
    </div>
    <% end %>
  </div>
  <div class="col-xs-1"></div>
</div>

