
  <div class="row">
    <div class="col-xs-1">
    </div>
    <div class="col-xs-10 availabilityTableOuter">
      <div class ="row validTimes">
        <div class="col-xs-9" style="padding-bottom:12px">
          Mein Kalendar ist gültig in der Zeit vom <%=@user.job.valid_from.tr('-', '').unpack('A4A2A2').reverse.join('.')%>

          bis <%=@user.job.valid_until.tr('-', '').unpack('A4A2A2').reverse.join('.')%>
        </div>
        <div class="col-xs-3"></div>
      </div>
      <div class="availabilityCalendar">
        <div class="row calendarRow">
          <div class="col-xs-1"></div>
          <div class="col-xs-3 calendarWeekendSideColumn"></div>
          <div class="col-xs-1 calendarWeekdayColumn">Mo</div>
          <div class="col-xs-1 calendarWeekdayColumn">Di</div>
          <div class="col-xs-1 calendarWeekdayColumn">Mi</div>
          <div class="col-xs-1 calendarWeekdayColumn">Do</div>
          <div class="col-xs-1 calendarWeekdayColumn">Fr</div>
          <div class="col-xs-1 calendarWeekendColumn">Sa</div>
          <div class="col-xs-1 calendarWeekendColumn">So</div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row calendarRow">
          <div class="col-xs-1"></div>
          <div class="col-xs-3 calendarSideColumn">Vormittags</div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('1') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('2') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('3') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('4') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('5') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('6') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('7') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-3 calendarSideColumn">Über Mittag</div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('8') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('9') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('10') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('11') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('12') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('13') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('14') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-3 calendarSideColumn">Nachmittags</div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('15') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('16') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('17') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('18') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('19') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('20') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('21') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-3 calendarSideColumn">Abends</div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('22') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('23') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('24') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('25') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('26') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('27') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('28') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1"></div>
        </div>
        <div class="row">
          <div class="col-xs-1"></div>
          <div class="col-xs-3 calendarSideColumn">Über Nacht</div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('29') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('30') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('31') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('32') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('33') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('34') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1 calendarColumn" style="<%= @calendartimes.include?('35') ? 'background-color:#D7F0DA' : "" %>"></div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>
    <div class="col-xs-1">
    </div>
  </div>
