

<div class="row requestHeader">
  <div class="col-xs-3">Eltern</div>
  <div class="col-xs-3">Anfrage erhalten vor</div>
  <div class="col-xs-3">Status</div>
  <div class="col-xs-3">Aktion</div>
</div>


<% @interesteds.each do |n| %>

    <% request = current_user.job.passive_requests.find_by(interested_id: n) %>
    <% currently_interested = Parent.find_by(id: n).user %>
    <% rating_sent = Rating.where("(sender_id = " + current_user.id.to_s + ") and " +
                             "(receiver_id = " + currently_interested.id.to_s + ")") %>
    <% rating_received = Rating.where("(receiver_id = " + current_user.id.to_s + ") and " +
                                       "(sender_id = " + currently_interested.id.to_s + ")") %>

    <div class="row eachRequest">
      <div class="col-xs-3" style="text-align: left">
        <a href="../users/<%=currently_interested.id%>">
          <%= gravatar_for currently_interested, size: 60 %>
        </a>
        <a href="../users/<%=currently_interested.id%>">
          <%= currently_interested.name %>
        </a>
      </div>
      <div class="col-xs-3">
        <span class="timestamp123">
          <i><%= time_ago_in_words(request.created_at) %></i>
        </span>
      </div>
      <div class="col-xs-3">
        <% if !request.accepted? %>
              <i>Anfrage gestellt, warten auf Annahme</i>
        <% end %>
        <% if request.accepted? and !request.paid? %>
             <i>Anfrage akzeptiert, warten auf Bezahlung</i>
        <% end %>

        <% if request.paid? and !rating_sent.any? and !rating_received.any? %>
            <i>bezahlt</i>
        <% end %>
        <% if request.paid? and rating_sent.any? and !rating_received.any? %>
            <i>bezahlt, Bewertung abgegeben</i>
        <% end %>
        <% if request.paid? and !rating_sent.any? and rating_received.any? %>
            <i>bezahlt, Bewertung erhalten</i>
        <% end %>
        <% if request.paid? and rating_sent.any? and rating_received.any? %>
            <i>bezahlt, Bewertung abgegeben und erhalten</i>
        <% end %>
      </div>
      <div class="col-xs-3">

        <% if !request.accepted? %>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                auswählen <b class="caret"></b>
              </a>
              <ul class="dropdown-menu" style="text-align:center">
                <li>
                  <%= form_for(request, :url => url_for(:controller => 'requests', :action => 'accept')) do |f| %>
                      <%= hidden_field_tag(:request_id, request.id) %>
                      <%= button_tag(type: "submit", class: "btn btn-primary acceptButton",
                                     :data => {:confirm => 'Wenn Sie die Anfrage annehmen, werden alle offenen Anfragen mit zeitlicher Überschneidung gelöscht. Möchten Sie fortfahren?'})  do %>
                          <span><i class="glyphicon glyphicon-ok-circle"></i> Anfrage annehmen</span>
                      <% end %>
                  <% end %>
                </li>
                <li>
                  <%= form_for(request, html: { method: :delete }) do |f| %>
                      <%= hidden_field_tag(:the_requested_user, current_user.id) %>
                      <%= hidden_field_tag(:redirecter, 'back_to_user') %>
                      <%= button_tag(type: "submit", class: "btn btn-danger dismissButton",
                                     :data => {:confirm => 'Möchten Sie die Anfrage unwiderruflich löschen?'}) do %>
                          <span><i class="glyphicon glyphicon-ban-circle"></i> Anfrage ablehnen</span>
                      <% end %>
                  <% end %>
                </li>
              </ul>
            </div>
        <% end %>

        <% if request.paid? and !rating_sent.any? %>

            <button id="myBtn" class="btn btn-default">Bewertung abgeben</button>
            <div id="myModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>

                <h4>Bewertung abgeben für <strong><%=currently_interested.name%></strong></h4>

                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-5">

                    <div class="eachRatingCategoryTop">
                      Sauberkeit des Haushalts
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="parent_tidinessStars star-1" id="parent_tidinessStar-1" checked="true">
                          <label class="star-1" for="parent_tidinessStar-1">1</label>
                          <input type="radio" name="star" class="parent_tidinessStars star-2" id="parent_tidinessStar-2">
                          <label class="star-2" for="parent_tidinessStar-2">2</label>
                          <input type="radio" name="star" class="parent_tidinessStars star-3" id="parent_tidinessStar-3">
                          <label class="star-3" for="parent_tidinessStar-3">3</label>
                          <input type="radio" name="star" class="parent_tidinessStars star-4" id="parent_tidinessStar-4">
                          <label class="star-4" for="parent_tidinessStar-4">4</label>
                          <input type="radio" name="star" class="parent_tidinessStars star-5" id="parent_tidinessStar-5">
                          <label class="star-5" for="parent_tidinessStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>

                    <div class="eachRatingCategoryBottom">
                      Einhaltung der Zeiten
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="parent_correctnessStars star-1" id="parent_correctnessStar-1" checked="true">
                          <label class="star-1" for="parent_correctnessStar-1">1</label>
                          <input type="radio" name="star" class="parent_correctnessStars star-2" id="parent_correctnessStar-2">
                          <label class="star-2" for="parent_correctnessStar-2">2</label>
                          <input type="radio" name="star" class="parent_correctnessStars star-3" id="parent_correctnessStar-3">
                          <label class="star-3" for="parent_correctnessStar-3">3</label>
                          <input type="radio" name="star" class="parent_correctnessStars star-4" id="parent_correctnessStar-4">
                          <label class="star-4" for="parent_correctnessStar-4">4</label>
                          <input type="radio" name="star" class="parent_correctnessStars star-5" id="parent_correctnessStar-5">
                          <label class="star-5" for="parent_correctnessStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>
                  </div>

                  <div class="col-xs-5">
                    <div class="eachRatingCategoryTop">
                      Freundlichkeit der Familie
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="parent_kindnessStars star-1" id="parent_kindnessStar-1" checked="true">
                          <label class="star-1" for="parent_kindnessStar-1">1</label>
                          <input type="radio" name="star" class="parent_kindnessStars star-2" id="parent_kindnessStar-2">
                          <label class="star-2" for="parent_kindnessStar-2">2</label>
                          <input type="radio" name="star" class="parent_kindnessStars star-3" id="parent_kindnessStar-3">
                          <label class="star-3" for="parent_kindnessStar-3">3</label>
                          <input type="radio" name="star" class="parent_kindnessStars star-4" id="parent_kindnessStar-4">
                          <label class="star-4" for="parent_kindnessStar-4">4</label>
                          <input type="radio" name="star" class="parent_kindnessStars star-5" id="parent_kindnessStar-5">
                          <label class="star-5" for="parent_kindnessStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>

                    <div class="eachRatingCategoryBottom">
                      Weiterempfehlung?
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="parent_recommendationStars star-1" id="parent_recommendationStar-1" checked="true">
                          <label class="star-1" for="parent_recommendationStar-1">1</label>
                          <input type="radio" name="star" class="parent_recommendationStars star-2" id="parent_recommendationStar-2">
                          <label class="star-2" for="parent_recommendationStar-2">2</label>
                          <input type="radio" name="star" class="parent_recommendationStars star-3" id="parent_recommendationStar-3">
                          <label class="star-3" for="parent_recommendationStar-3">3</label>
                          <input type="radio" name="star" class="parent_recommendationStars star-4" id="parent_recommendationStar-4">
                          <label class="star-4" for="parent_recommendationStar-4">4</label>
                          <input type="radio" name="star" class="parent_recommendationStars star-5" id="parent_recommendationStar-5">
                          <label class="star-5" for="parent_recommendationStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-xs-1"></div>
                </div>

                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-10" style="text-align: left">
                    <%= form_for(@rating) do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <i>Bemerkungen</i>
                        <%= f.text_area :content, class: "form-control" %>
                        <%= f.hidden_field :sender_id, value: current_user.id %>
                        <%= f.hidden_field :receiver_id, value: currently_interested.id %>
                        <%= f.hidden_field :parent_tidiness, id: "parent_tidinessHidden", value: "1" %>
                        <%= f.hidden_field :parent_correctness, id: "parent_correctnessHidden", value: "1"  %>
                        <%= f.hidden_field :parent_kindness, id: "parent_kindnessHidden", value: "1"  %>
                        <%= f.hidden_field :parent_recommendation, id: "parent_recommendationHidden", value: "1"  %>
                        <%= f.submit "Abschicken", class: "btn btn-small" %>
                    <% end %>
                  </div>
                  <div class="col-xs-1"></div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>




<script>

  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function() {
    modal.style.display = "block";
  }
  span.onclick = function() {
    modal.style.display = "none";
  }
  // Außerhalb des Modals klicken -> schließen
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  $('.parent_tidinessStars').change(function() {
    var value = this.id.substring(this.id.length -1,this.id.length);
    if(this.checked) {
      console.log(value);
      $('#parent_tidinessHidden').val(value);
    }
  });
  $('.parent_correctnessStars').change(function() {
    var value = this.id.substring(this.id.length -1,this.id.length);
    if(this.checked) {
      $('#parent_correctnessHidden').val(value);
    }
  });
  $('.parent_kindnessStars').change(function() {
    var value = this.id.substring(this.id.length -1,this.id.length);
    if(this.checked) {
      $('#parent_kindnessHidden').val(value);
    }
  });
  $('.parent_recommendationStars').change(function() {
    var value = this.id.substring(this.id.length -1,this.id.length);
    if(this.checked) {
      $('#parent_recommendationHidden').val(value);
    }
  });


</script>























