<div class="row">
  <% if current_user?(@user)%>
      <div class="btn-group cogButton">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span>   <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <% if current_user.job.passive_requests.where("(paid = 'f')").any? %>
            <%= link_to edit_job_path, :data => {:confirm => 'Sie haben offene Anfragen. Wenn Sie ihr Nannyprofil editieren, werden offene Anfragen gelöscht.'} do %>
                    <span class="glyphicon glyphicon-pencil"></span> Editieren<% end %>
            <% else %>
                <%= link_to edit_job_path do %>
                    <span class="glyphicon glyphicon-pencil"></span> Editieren<% end %>
            <% end %>
          </li>
        </ul>
      </div>

  <% end %>
  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <div class="row profileAgeAndCity">
      <div class="col-xs-3 ageColumn">
        Alter: <%=@user.job.age%>
      </div>
      <div class="col-xs-3 cityColumn">
        wohnt in: <%=@user.job.city%>
      </div>
      <div class="col-xs-3 rateColumn">
        Stundenlohn: <%=@user.job.rate%> €
      </div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row profileContent">
      <div class="col-xs-9">
        <%= @user.job.content %>
        <div class="profileCreatedAt">Zuletzt aktualisiert vor <%= time_ago_in_words(@user.job.updated_at) %>.</div>
      </div>
      <div class="col-xs-3"></div>
    </div>
    <div class="row profileAttributes">
      <div class="col-xs-5">
        <ul>
          <% if @user.job.experience == 2 %><li>1-2 Jahre Erfahrung als Nanny</li><% end %>
          <% if @user.job.experience == 3 %><li>3-4 Jahre Erfahrung als Nanny</li><% end %>
          <% if @user.job.experience == 4 %><li>über 5 Jahre Erfahrung als Nanny</li><% end %>
          <% if @user.job.car == true %><li>hat ein eigenes Auto</li><% end %>
          <% if !(@user.job.time.split(",") & ["1","2","3","4","5","6","7"]).empty? %><li>ist vormittags verfügbar</li><% end %>
          <% if !(@user.job.time.split(",") & ["29","30","31","32","33","34","35"]).empty? %><li>kann über Nacht bleiben</li><% end %>
          <% if !(@user.job.time.split(",") & ["6","7","13","14","20","21","27","28","34","35"]).empty? %><li>kann auch am Wochenende</li><% end %>
          <% if @user.job.kids == 1 %><li>bietet Betreuung für ein Kind<% end %>
          <% if @user.job.kids == 2 %><li>bietet Betreuung für bis zu zwei Kindern<% end %>
          <% if @user.job.kids == 3 %><li>bietet Betreuung für bis zu drei Kindern<% end %>
          <% if @user.job.kids == 4 %><li>bietet Betreuung für vier oder mehr Kinder<% end %>
          <ul>
            <% if @user.job.baby? and @user.job.toddler? and @user.job.preschooler? and
                @user.job.gradeschooler? and @user.job.teenager? %><li>für alle Altersstufen</li>
            <%else%>
                <% if @user.job.baby? %><li> Babies (0-1) </li><% end %>
                <% if @user.job.toddler? %><li> Kleinkinder (1-3) </li><% end %>
                <% if @user.job.preschooler? %><li> Vorschüler (3-5) </li><% end %>
                <% if @user.job.gradeschooler? %><li> Grundschüler (5-12) </li><% end %>
                <% if @user.job.teenager? %><li> Teenager (12+) </li><% end %>
            <% end %>
          </ul>
          </li>
        </ul>
      </div>
      <div class="col-xs-5">
        <ul>
        <li>Ich biete:
          <ul>
            <% if @user.job.homework? %><li> Hausaufgabenhilfe </li><% end %>
            <% if @user.job.laundry? %><li> Wäsche waschen </li><% end %>
            <% if @user.job.run_errands? %><li> Kleine Besorgungen erledigen </li><% end %>
            <% if @user.job.to_bed? %><li> Ins Bett bringen </li><% end %>
            <% if @user.job.cooking? %><li> Kochen </li><% end %>
            <% if @user.job.bodycare? %><li> Körperpflege (Duschen, wickeln, etc.) </li><% end %>
            <% if @user.job.feed? %><li> Füttern </li><% end %>
            <% if @user.job.read? %><li> Vorlesen </li><% end %>
            <% if @user.job.sports? %><li> mit dem Kind Sport machen </li><% end %>
            <% if @user.job.swimming? %><li> Schwimmen gehen </li><% end %>
            <% if @user.job.painting? %><li> Malen und Zeichnen </li><% end %>
            <% if @user.job.excursions? %><li> Ausflüge unternehmen </li><% end %>
          </ul>
        </li>
        </ul>
      </div>
      <div class="col-xs-2"></div>
    </div>
  </div>
</div>
