<% user = User.find_by(id:@user.parent.assigned.to_i) %>

<div class="row eachRequest">
  <div class="col-xs-4" style="text-align: left">
    <a href="../users/<%= user.id %>">
      <%= gravatar_for user, size: 60 %></a>
    <a href="../users/<%= user.id %>">
      <%= user.name %></a>
  </div>
  <div class="col-xs-8 matchedNanniesButtons">
    <% unless current_user.admin? %>
    <div style="display:inline-block">
      <%= link_to conversations_path(parent_user_id: current_user.id, job_user_id: user.id),
                  method: "post", :class => "btn btn-default" do %>
          <span class="glyphicon glyphicon-envelope"></span> Kontakt
      <% end %>
    </div>
    <% end %>
    <div style="display:inline-block">
      <%= link_to user, class: "btn btn-default" do %>
          <i class="glyphicon glyphicon-user"></i> Zum Profil
      <% end %>
    </div>
  </div>
</div>

<div class="row profileAgeAndCity">
  <div class="col-xs-3 ageColumn">
    Alter: <%= user.job.age %>
  </div>
  <div class="col-xs-3 cityColumn">
    wohnt in: <%= user.job.city %>
  </div>
  <div class="col-xs-3 rateColumn">
    Stundenlohn: <%= user.job.rate %> €
  </div>
  <div class="col-xs-3"></div>
</div>

<div class="row profileContent">
  <div class="col-xs-9">
    <%= user.job.content %>
    <div class="profileCreatedAt">Zuletzt aktualisiert vor <%= time_ago_in_words(user.job.updated_at) %>.</div>
  </div>
  <div class="col-xs-3"></div>
</div>

