<div class="row">

  <% if current_user?(@user) %>
      <div class="btn-group cogButton">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="glyphicon glyphicon-cog"></span>   <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <%= link_to edit_parent_path, :data => {:confirm => 'Elternprofil editieren? Matchings und offene Anfragen werden gelöscht.'} do%>
                <span class="glyphicon glyphicon-pencil"></span> Editieren<% end %>
          </li>
        </ul>
      </div>
  <% end %>

  <div class="col-xs-1"></div>
  <div class="col-xs-11">
    <div class="row profileAgeAndCity">
      <div class="col-xs-3 cityColumn">
        wohnt in: <%=@user.parent.city%>
      </div>
      <div class="col-xs-3 ageColumn">
        Nanny gesucht für <%if(@user.parent.kids.to_i > 1)%><%=@user.parent.kids%> Kinder<%else%> 1 Kind<% end %>
      </div>
      <div class="col-xs-1 ageColumn" style="text-align: center;">
        Alter:
      </div>
      <div class="col-xs-5 kidsColumn">
        <div><% if @user.parent.baby? %> Baby (0-1 Jahre) <% end %></div>
        <div><% if @user.parent.toddler? %> Kleinkind (1-3 Jahre)<% end %></div>
        <div><% if @user.parent.preschooler? %>Vorschüler (3-5 Jahre)<% end %></div>
        <div><% if @user.parent.gradeschooler? %> Grundschüler (5-12 Jahre)<% end %></div>
        <div><% if @user.parent.teenager? %> Teenager (12+ Jahre) <% end %></div>
      </div>
    </div>

    <div class="row profileContent">
      <div class="col-xs-9">
        <%=@user.parent.content %>
        <div class="profileCreatedAt">Erstellt vor <%= time_ago_in_words(@user.parent.created_at) %>.</div>
      </div>
      <div class="col-xs-3"></div>
    </div>

    <div class="row profileAttributes">
      <div class="col-xs-1"></div>
       <div class="col-xs-5">
        <ul>
          <% if @user.parent.pets? %><li> Wir haben Haustiere </li><% end %>
          <% if @user.parent.nonsmoker?%><li> Nur Nichtraucher <% end %>
          <% if @user.parent.licence > 2 %><li> Ein Führerschein wird benötigt </li><% end %>
          <% if @user.parent.car > 2 %><li> Ein eigenes Auto wird benötigt </li><% end %>
        </ul>
      </div>
      <div class="col-xs-5">
        <% if @user.parent.homework > 2 || @user.parent.laundry > 2 || @user.parent.run_errands > 2 || @user.parent.to_bed > 2 ||
            @user.parent.cooking > 2 || @user.parent.bodycare > 2 || @user.parent.feed > 2 || @user.parent.read > 2 ||
            @user.parent.sports > 2 || @user.parent.swimming > 2 || @user.parent.painting > 2 || @user.parent.excursions > 2 %>
        <ul>
          <li>Voraussetzungen:
            <ul>
              <% if @user.parent.homework > 2 %><li> Hausaufgabenhilfe geben </li><% end %>
              <% if @user.parent.laundry > 2 %><li> Wäsche waschen </li><% end %>
              <% if @user.parent.run_errands > 2 %><li> Kleine Besorgungen erledigen </li><% end %>
              <% if @user.parent.to_bed > 2 %><li> Ins Bett bringen </li><% end %>
              <% if @user.parent.cooking > 2 %><li> Kochen </li><% end %>
              <% if @user.parent.bodycare > 2 %><li> Körperpflege (Duschen, wickeln, etc.) </li><% end %>
              <% if @user.parent.feed > 2 %><li> Füttern </li><% end %>
              <% if @user.parent.read > 2 %><li> Vorlesen </li><% end %>
              <% if @user.parent.sports > 2 %><li> mit dem Kind Sport machen </li><% end %>
              <% if @user.parent.swimming > 2 %><li> Schwimmen gehen </li><% end %>
              <% if @user.parent.painting > 2 %><li> Malen und Zeichnen </li><% end %>
              <% if @user.parent.excursions > 2 %><li> Ausflüge unternehmen </li><% end %>
            </ul>
          </li>
        </ul>
        <% end %>
      </div>
      <div class="col-xs-1"></div>
    </div>

    <div class="row availabilityBox">
        <div class="col-xs-1"></div>
        <div class="col-xs-10 availabilityTableOuter">
          <div class ="row validTimes">
            <div class="col-xs-9" style="padding-bottom:12px">
              <% if (@user.parent.valid_until == @user.parent.valid_from) %>
                  Nanny gesucht: einmalig für den <%=@user.parent.valid_from.tr('-', '').unpack('A4A2A2').reverse.join('.')%>
              <% else %>
                  Nanny gesucht im Zeitraum von: <%=@user.parent.valid_from.tr('-', '').unpack('A4A2A2').reverse.join('.')%>
                              bis <%=@user.parent.valid_until.tr('-', '').unpack('A4A2A2').reverse.join('.')%>
              <% end %>
            </div>
            <div class="col-xs-3"></div>
          </div>
          <div class="availabilityCalendar">
            <div class="row calendarRow">
              <div class="col-xs-1"></div>
              <div class="col-xs-3 calendarWeekendSideColumn"></div>
              <div class="col-xs-1 calendarWeekdayColumn">Mo</div>
              <div class="col-xs-1 calendarWeekdayColumn">Di</div>
              <div class="col-xs-1 calendarWeekdayColumn">Mi</div>
              <div class="col-xs-1 calendarWeekdayColumn">Do</div>
              <div class="col-xs-1 calendarWeekdayColumn">Fr</div>
              <div class="col-xs-1 calendarWeekendColumn">Sa</div>
              <div class="col-xs-1 calendarWeekendColumn">So</div>
              <div class="col-xs-1"></div>
            </div>
            <div class="row calendarRow">
              <div class="col-xs-1"></div>
              <div class="col-xs-3 calendarSideColumn">Vormittags</div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('1') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('2') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('3') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('4') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('5') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('6') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('7') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1"></div>
            </div>
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-3 calendarSideColumn">Über Mittag</div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('8') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('9') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('10') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('11') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('12') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('13') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('14') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1"></div>
            </div>
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-3 calendarSideColumn">Nachmittags</div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('15') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('16') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('17') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('18') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('19') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('20') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('21') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1"></div>
            </div>
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-3 calendarSideColumn">Abends</div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('22') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('23') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('24') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('25') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('26') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('27') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('28') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1"></div>
            </div>
            <div class="row">
              <div class="col-xs-1"></div>
              <div class="col-xs-3 calendarSideColumn">Über Nacht</div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('29') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('30') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('31') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('32') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('33') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('34') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1 calendarColumn" style="<%= @parent_calendartimes.include?('35') ? 'background-color:#D7F0DA' : "" %>"></div>
              <div class="col-xs-1"></div>
            </div>
          </div>
        </div>
      <div class="col-xs-1"></div>
    </div>
  </div>
</div>

