<div class="row requestHeader">
  <div class="col-xs-3">Nanny</div>
  <div class="col-xs-3">Anfrage gestellt vor</div>
  <div class="col-xs-3">Status</div>
  <div class="col-xs-3">Aktion</div>
</div>

<% @potentials.each do |n| %>
    <% currently_potential = Job.find_by(id: n.to_i).user %>
    <% request = current_user.parent.active_requests.find_by(potential_id: n) %>
    <% rating_sent = Rating.where("(sender_id = " + current_user.id.to_s + ") and " +
                                      "(receiver_id = " + currently_potential.id.to_s + ")") %>
    <% rating_received = Rating.where("(receiver_id = " + current_user.id.to_s + ") and " +
                                          "(sender_id = " + currently_potential.id.to_s + ")") %>

    <div class="row eachRequest">
      <div class="col-xs-3" style="text-align: left">
        <a href="../users/<%= currently_potential.id %>">
          <%= gravatar_for currently_potential, size: 60 %>
        </a>
        <a href="../users/<%= currently_potential.id %>">
          <%= currently_potential.name %>
        </a>
      </div>

      <div class="col-xs-3">
              <span class="timestamp123">
                <i><%= time_ago_in_words(request.created_at) %></i>
              </span>
      </div>

      <div class="col-xs-3">
        <% if request.accepted? and !request.paid? %>
            <i>akzeptiert, warten auf Bezahlung</i>
        <% end %>
        <% if !request.accepted? %>
            <i>Anfrage gestellt, warten auf Antwort</i>
        <% end %>
        <% if request.paid? and !rating_sent.any? and !rating_received.any? %>
            <i>bezahlt</i>
        <% end %>
        <% if request.paid? and rating_sent.any? and !rating_received.any? %>
            <i>bezahlt, Bewertung abgegeben</i>
        <% end %>
        <% if request.paid? and !rating_sent.any? and rating_received.any? %>
            <i>bezahlt, Bewertung erhalten</i>
        <% end %>
        <% if request.paid? and rating_sent.any? and rating_received.any? %>
            <i>bezahlt, Bewertung abgegeben und erhalten</i>
        <% end %>
      </div>
      <div class="col-xs-3">
        <% if request.accepted? and !request.paid? %>
            <%= form_for(request, :url => url_for(:controller => 'requests', :action => 'pay')) do |f| %>
                <%= hidden_field_tag(:request_id, request.id) %>
                <%= button_tag(type: "submit", class: "btn btn-primary",
                               :data => {:confirm => 'Wenn Sie diese Nanny buchen, werden alle offenen Anfragen gelöscht. Möchten Sie fortfahren?'}) do %>
                    <span><i class="glyphicon glyphicon-euro"></i> Bezahlen</span>
                <% end %>
            <% end %>
        <% end %>
        <% if !request.accepted? and !request.paid? %>
            <%= form_for(request, html: {method: :delete}) do |f| %>
                <%= hidden_field_tag(:the_requested_user, current_user.id) %>
                <%= hidden_field_tag(:redirecter, 'back_to_user') %>
                <%= button_tag(type: "submit", class: "btn btn-success") do %>
                    <span><i class="glyphicon glyphicon-circle-arrow-down"></i> Anfrage zurück</span>
                <% end %>
            <% end %>
        <% end %>

        <% if request.paid? and !rating_sent.any? %>
            <button id="myBtn" class="btn btn-default">Bewertung abgeben</button>
            <div id="myModal" class="modal">
              <div class="modal-content">
                <span class="close">&times;</span>
                <h4>Bewertung abgeben für <strong><%= currently_potential.name %></strong></h4>
                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-5">
                    <div class="eachRatingCategoryTop">
                      Pünktlichkeit
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="job_punctualityStars star-1" id="job_punctualityStar-1" checked="true">
                          <label class="star-1" for="job_punctualityStar-1">1</label>
                          <input type="radio" name="star" class="job_punctualityStars star-2" id="job_punctualityStar-2">
                          <label class="star-2" for="job_punctualityStar-2">2</label>
                          <input type="radio" name="star" class="job_punctualityStars star-3" id="job_punctualityStar-3">
                          <label class="star-3" for="job_punctualityStar-3">3</label>
                          <input type="radio" name="star" class="job_punctualityStars star-4" id="job_punctualityStar-4">
                          <label class="star-4" for="job_punctualityStar-4">4</label>
                          <input type="radio" name="star" class="job_punctualityStars star-5" id="job_punctualityStar-5">
                          <label class="star-5" for="job_punctualityStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>
                    <div class="eachRatingCategoryBottom">
                      Zufriedenheit des Kindes
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="job_satisfaction_of_childStars star-1" id="job_satisfaction_of_childStar-1" checked="true">
                          <label class="star-1" for="job_satisfaction_of_childStar-1">1</label>
                          <input type="radio" name="star" class="job_satisfaction_of_childStars star-2" id="job_satisfaction_of_childStar-2">
                          <label class="star-2" for="job_satisfaction_of_childStar-2">2</label>
                          <input type="radio" name="star" class="job_satisfaction_of_childStars star-3" id="job_satisfaction_of_childStar-3">
                          <label class="star-3" for="job_satisfaction_of_childStar-3">3</label>
                          <input type="radio" name="star" class="job_satisfaction_of_childStars star-4" id="job_satisfaction_of_childStar-4">
                          <label class="star-4" for="job_satisfaction_of_childStar-4">4</label>
                          <input type="radio" name="star" class="job_satisfaction_of_childStars star-5" id="job_satisfaction_of_childStar-5">
                          <label class="star-5" for="job_satisfaction_of_childStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-xs-5">
                    <div class="eachRatingCategoryTop">
                      Genauigkeit der Angaben
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="job_correctnessStars star-1" id="job_correctnessStar-1" checked="true">
                          <label class="star-1" for="job_correctnessStar-1">1</label>
                          <input type="radio" name="star" class="job_correctnessStars star-2" id="job_correctnessStar-2">
                          <label class="star-2" for="job_correctnessStar-2">2</label>
                          <input type="radio" name="star" class="job_correctnessStars star-3" id="job_correctnessStar-3">
                          <label class="star-3" for="job_correctnessStar-3">3</label>
                          <input type="radio" name="star" class="job_correctnessStars star-4" id="job_correctnessStar-4">
                          <label class="star-4" for="job_correctnessStar-4">4</label>
                          <input type="radio" name="star" class="job_correctnessStars star-5" id="job_correctnessStar-5">
                          <label class="star-5" for="job_correctnessStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>
                    <div class="eachRatingCategoryBottom">
                      Weiterempfehlung?
                      <form id="ratingsForm">
                        <div class="stars">
                          <input type="radio" name="star" class="job_recommendationStars star-1" id="job_recommendationStar-1" checked="true">
                          <label class="star-1" for="job_recommendationStar-1">1</label>
                          <input type="radio" name="star" class="job_recommendationStars star-2" id="job_recommendationStar-2">
                          <label class="star-2" for="job_recommendationStar-2">2</label>
                          <input type="radio" name="star" class="job_recommendationStars star-3" id="job_recommendationStar-3">
                          <label class="star-3" for="job_recommendationStar-3">3</label>
                          <input type="radio" name="star" class="job_recommendationStars star-4" id="job_recommendationStar-4">
                          <label class="star-4" for="job_recommendationStar-4">4</label>
                          <input type="radio" name="star" class="job_recommendationStars star-5" id="job_recommendationStar-5">
                          <label class="star-5" for="job_recommendationStar-5">5</label>
                          <span></span>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="col-xs-1"></div>
                </div>
                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-10" style="text-align: left">
                    <%= form_for(@rating) do |f| %>
                        <%= render 'shared/error_messages', object: f.object %>
                        <i>Bemerkungen</i>
                        <%= f.text_area :content, class: "form-control" %>
                        <%= f.hidden_field :sender_id, value: current_user.id %>
                        <%= f.hidden_field :receiver_id, value: currently_potential.id %>
                        <%= f.hidden_field :job_punctuality, id: "job_punctualityHidden", value: "1" %>
                        <%= f.hidden_field :job_satisfaction_of_child, id: "job_satisfaction_of_childHidden", value: "1" %>
                        <%= f.hidden_field :job_correctness, id: "job_correctnessHidden", value: "1" %>
                        <%= f.hidden_field :job_recommendation, id: "job_recommendationHidden", value: "1" %>
                        <%= f.submit "Abschicken", class: "btn btn-small" %>
                    <% end %>
                  </div>
                  <div class="col-xs-1"></div>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
<% end %>



<script>
  //  bootstrap modal
  var modal = document.getElementById('myModal');
  var btn = document.getElementById("myBtn");
  var span = document.getElementsByClassName("close")[0];
  btn.onclick = function () {
    modal.style.display = "block";
  }
  span.onclick = function () {
    modal.style.display = "none";
  }
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

  //  set star id as value for rating
  $('.job_punctualityStars').change(function () {
    var value = this.id.substring(this.id.length - 1, this.id.length);
    if (this.checked) {
      console.log(value);
      $('#job_punctualityHidden').val(value);
    }
  });
  $('.job_satisfaction_of_childStars').change(function () {
    var value = this.id.substring(this.id.length - 1, this.id.length);
    if (this.checked) {
      $('#job_satisfaction_of_childHidden').val(value);
    }
  });
  $('.job_correctnessStars').change(function () {
    var value = this.id.substring(this.id.length - 1, this.id.length);
    if (this.checked) {
      $('#job_correctnessHidden').val(value);
    }
  });
  $('.job_recommendationStars').change(function () {
    var value = this.id.substring(this.id.length - 1, this.id.length);
    if (this.checked) {
      $('#job_recommendationHidden').val(value);
    }
  });
</script>