<% if !@ratings_received.any? %>
    <h4>Keine Bewertungen</h4>
<% else %>

    <% mean_parent_tidiness = (@ratings_received.sum(:parent_tidiness).to_f / @ratings_received.length.to_f).round(0).to_i %>
    <% mean_parent_correctness = (@ratings_received.sum(:parent_correctness).to_f / @ratings_received.length.to_f).round(0).to_i %>
    <% mean_parent_kindness = (@ratings_received.sum(:parent_kindness).to_f / @ratings_received.length.to_f).round(0).to_i %>
    <% mean_parent_recommendation = (@ratings_received.sum(:parent_recommendation).to_f / @ratings_received.length.to_f).round(0).to_i %>

    <% mean_job_punctuality = (@ratings_received.sum(:job_punctuality).to_f / @ratings_received.length.to_f).round(0).to_i %>
    <% mean_job_correctness = (@ratings_received.sum(:job_correctness).to_f / @ratings_received.length.to_f).round(0).to_i %>
    <% mean_job_satisfaction_of_child = (@ratings_received.sum(:job_satisfaction_of_child).to_f / @ratings_received.length.to_f).round(0).to_i %>
    <% mean_job_recommendation = (@ratings_received.sum(:job_recommendation).to_f / @ratings_received.length.to_f).round(0).to_i %>
    

<div class="row profileRating">
  <div class="col-xs-3">
    <div class  ="col-xs-3 mailboxLink">

      <% if logged_in? and (current_user?(@user) or current_user.admin? or
          (parent? and current_user.premium? and !current_user.parent.sorting.nil? and
              current_user.parent.sorting.helpfield.split(",").include?(@user.id.to_s)) or
          (parent? and current_user.premium? and !@user.job.nil? and !current_user.parent.active_requests.nil? and
              !current_user.parent.active_requests.where("(paid = 't')").nil? and
              current_user.parent.active_requests.where("(paid = 't')").pluck(:potential_id).include?(@user.job.id)) or
          (job? and !current_user.job.passive_requests.nil? and !@user.parent.nil? and
              !current_user.job.passive_requests.find_by(interested_id: @user.parent.id).nil?) or
          (!current_user.active_relationships.nil? and
              !current_user.active_relationships.find_by(followed_id: @user.id).nil?)) %>

          <%= link_to "ansehen", ratings_user_path, style: "display:inline-block; font-size:16px"  %>
      <% end %>
    </div>
  </div>
      <div class="col-xs-3" style="text-align: right">
        <br/><div class="ratingsCounter"></div>
        <% if !@user.job.nil? %>
            <div>Pünktlichkeit</div>
            <div>Genauigkeit der Angaben</div>
            <div>Zufriedenheit des Kindes</div>
            <div>Empfehlung</div>
        <% end %>
        <% if !@user.parent.nil? %>
            <div>Sauberkeit</div>
            <div>Einhaltung der Zeiten</div>
            <div>Freundlichkeit</div>
            <div>Empfehlung</div>
        <% end %>
      </div>
      <div class="col-xs-6"style="text-align: left">
        <div class="ratingsCounter">
          <% if @ratings_received.count == 1 %>
              1 Bewertung
          <% else %>
              <%= @ratings_received.count %> Bewertungen
          <% end %>
        </div>
      <% if !@user.job.nil? %>
          <div>
            <%(1..mean_job_punctuality).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_job_punctuality..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
          <div>
            <%(1..mean_job_correctness).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_job_correctness..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
          <div>
            <%(1..mean_job_satisfaction_of_child).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_job_satisfaction_of_child..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
          <div>
            <%(1..mean_job_recommendation).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_job_recommendation..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
      <% end %>
      <% if !@user.parent.nil? %>
          <div>
            <%(1..mean_parent_tidiness.to_i).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_parent_tidiness.to_i..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
          <div>
            <%(1..mean_parent_correctness).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_parent_correctness..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
          <div>
            <%(1..mean_parent_kindness).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_parent_kindness..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
          <div>
            <%(1..mean_parent_recommendation).each do |n| %>
                <span class="glyphicon glyphicon-star"></span>
                <% n %>
            <% end %>
            <%(mean_parent_recommendation..4).each do |n| %>
                <span class="glyphicon glyphicon-star-empty"></span>
                <% n %>
            <% end %>
          </div>
      <% end %>
      </div>
</div>
<% end %>