<% provide(:title, "Elternprofil anpassen") %>

<h1>Elternprofil aktualisieren</h1>

<%= form_for(current_user.parent) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>

    <div class="row row-eq-height sittercontainer">
      <div class="col-xs-3 sidebar">
        <div class="sitterSidebarButton" id="informationAvailabilityButton" onclick="showInformationAvailability()">
          <div><h2>Wann?</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationAboutMeButton" onclick="showInformationAboutMe()">
          <div><h2>Meine Familie</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationBasicsButton" onclick="showInformationBasics()">
          <div><h2>Eigenschaften der Nanny</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationActivitiesButton" onclick="showInformationActivities()">
          <div><h2>Verantwortlichkeiten</h2></div>
        </div>
        <div class="sitterSidebarButton" id="informationContentButton" onclick="showInformationContent()">
          <div><h2>Beschreibung</h2></div>
        </div>
      </div>

      <div class="col-xs-9 information">

        <!---------------------------------------------------->
        <div id="informationAboutMe" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="attributeLabel">*Stadt</div>
                <%= f.text_field :city, class: "form-control" %>
              </div>
              <div class="col-xs-4">
                <div class="attributeLabel">Adresse</div>
                <%= f.text_field :address, class: "form-control" %>
              </div>
              <div class="col-xs-2"></div>
            </div>
            <div class="row">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="attributeLabel">*Anzahl Kinder</div>
                <select id="kidsSelect">
                  <option <%=(parent? && !current_user.parent.kids.nil? && current_user.parent.kids == 1) ? "selected" : "" %>>1</option>
                  <option <%=(parent? && !current_user.parent.kids.nil? && current_user.parent.kids == 2) ? "selected" : "" %>>2</option>
                  <option <%=(parent? && !current_user.parent.kids.nil? && current_user.parent.kids == 3) ? "selected" : "" %>>3</option>
                  <option <%=(parent? && !current_user.parent.kids.nil? && current_user.parent.kids == 4) ? "selected" : "" %>>4+</option>
                </select>
                <%= f.hidden_field :kids, class: "form-control", id: "kidsField" %>
              </div>
              <div class="col-xs-4">
                <div class="attributeLabel">*Geschlecht der Kinder</div>
                <select id="gender">
                  <option disabled selected>bitte auswählen</option>
                  <option <%=(parent? && !current_user.parent.gender.nil? && current_user.parent.gender == 1) ? "selected" : "" %>>Junge</option>
                  <option <%=(parent? && !current_user.parent.gender.nil? && current_user.parent.gender == 2) ? "selected" : "" %>>Mädchen</option>
                  <option disabled id="bothGenders" <%=(parent? && !current_user.parent.gender.nil? && current_user.parent.gender == 3) ? "selected" : "" %>>Beides</option>
                </select>
                <%= f.hidden_field :gender, class: "form-control", id: "genderField" %>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row textCentering" style="padding-top:24px;">
              <div class="timeLabel">*Alter des Kindes/der Kinder</div>
              <div class="col-xs-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="row">
                      <div class="col-xs-1"></div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Baby <br /> (0-1 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Kleinkind <br /> (1-3 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Vorschüler <br /> (3-5 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Grundschüler <br /> (5-12 Jahre)</div>
                      </div>
                      <div class="col-xs-2">
                        <div class="attributeLabel">Teenager <br /> (12+ Jahre)</div>
                      </div>
                      <div class="col-xs-1"></div>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-1"></div>
                      <div class="col-xs-2">
                        <%= f.check_box :baby, class: "form-control ageCheck checkbox-custom", id: "babyCheckbox" %>
                        <label for="babyCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :toddler, class: "form-control ageCheck checkbox-custom", id: "toddlerCheckbox" %>
                        <label for="toddlerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :preschooler, class: "form-control ageCheck checkbox-custom", id: "preschoolerCheckbox" %>
                        <label for="preschoolerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :gradeschooler, class: "form-control ageCheck checkbox-custom", id: "gradeschoolerCheckbox" %>
                        <label for="gradeschoolerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-2">
                        <%= f.check_box :teenager, class: "form-control ageCheck checkbox-custom", id: "teenagerCheckbox" %>
                        <label for="teenagerCheckbox" class="checkbox-custom-label"></label>
                      </div>
                      <div class="col-xs-1"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!---------------------------------------------------->
        <div id="informationBasics" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="row parentPropertiesRow">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div id="amountDiv" class="rateAmount"></div>
              </div>
              <div class="col-xs-4 rateSlider">
                <div id="slider-range" class="parentSliders"></div>
                <%= f.hidden_field :lower_rate, id: "lower_amount", class: "form-control" %>
                <%= f.hidden_field :upper_rate, id: "upper_amount", class: "form-control" %>
              </div>
              <div class="col-xs-2"></div>
            </div>
            <div class="row parentPropertiesRow">
              <div class="col-xs-2">
              </div>
              <div class="col-xs-4">
                <div class="timeLabel">*Alter der Nanny von</div>
                <%= f.number_field :lower_age, class: "form-control", min: 15, max:99 %>
              </div>
              <div class="col-xs-4">
                <div class="timeLabel">*bis</div>
                <%= f.number_field :upper_age, class: "form-control", min: 15, max:99 %>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="row parentPropertiesRow">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="timeLabel">*Geschlecht</div>
                <select id="nannyGender">
                  <option disabled selected>bitte auswählen</option>
                  <option <%=(parent? && !current_user.parent.nanny_gender.nil? && current_user.parent.nanny_gender == 1) ? "selected" : "" %>>männlich</option>
                  <option <%=(parent? && !current_user.parent.nanny_gender.nil? && current_user.parent.nanny_gender == 2) ? "selected" : "" %>>weiblich</option>
                  <option <%=(parent? && !current_user.parent.nanny_gender.nil? && current_user.parent.nanny_gender == 3) ? "selected" : "" %>>egal</option>
                </select>
                <%= f.hidden_field :nanny_gender, class: "form-control", id: "nannyGenderField"%>
              </div>
              <div class="col-xs-4">
                <div class="timeLabel">*Erfahrung als Nanny</div>
                <select id="experienceSelect">
                  <option disabled selected>bitte auswählen</option>
                  <option <%=(parent? && !current_user.parent.experience.nil? && current_user.parent.experience == 1) ? "selected" : "" %>>egal</option>
                  <option <%=(parent? && !current_user.parent.experience.nil? && current_user.parent.experience == 2) ? "selected" : "" %>>mind. 1-2 Jahre</option>
                  <option <%=(parent? && !current_user.parent.experience.nil? && current_user.parent.experience == 3) ? "selected" : "" %>>mind. 3-4 Jahre</option>
                  <option <%=(parent? && !current_user.parent.experience.nil? && current_user.parent.experience == 4) ? "selected" : "" %>>mind. 5 Jahre</option>
                </select>
                <%= f.hidden_field :experience, class: "form-control", id: "experienceField" %>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="row textCentering parentPropertiesRowTop">
              <div class="col-xs-2"></div>
              <div class="col-xs-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <div class="attributeLabel">Nichtraucher?</div>
                  </div>
                  <div class="panel-body">
                    <div class="onoffswitch marginCentering">
                      <%= f.check_box :nonsmoker, class: "onoffswitch-checkbox", id: "myonoffswitchNonsmoker" %>
                      <label class="onoffswitch-label" for="myonoffswitchNonsmoker">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-4">
                <div class="panel panel-default" style="text-align: center">
                  <div class="panel-heading">
                    <div class="attributeLabel">Ok mit Haustieren?</div>
                  </div>
                  <div class="panel-body">
                    <div class="onoffswitch marginCentering">
                      <%= f.check_box :pets, class: "onoffswitch-checkbox", id: "myonoffswitchPets" %>
                      <label class="onoffswitch-label" for="myonoffswitchPets">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                      </label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-2"></div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Führerschein?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :licence, min: 0, max: 2, step: 0.1,
                                      id: "licenceRange", :class => ((parent? && !current_user.parent.licence.nil? && current_user.parent.licence == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.licence.nil? && current_user.parent.licence == 3.0) ? true : false) %>
                    <%= f.number_field :licence, class: "inputHidden", id: "licenceHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.licence.nil? && current_user.parent.licence == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="licenceLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.licence.nil? && current_user.parent.licence == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="licenceHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.licence.nil? && current_user.parent.licence == 3.0) ? true : false),
                                    id: "licenceCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="licenceCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Eigenes Auto?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :car, min: 0, max: 2, step: 0.1, id: "carRange",
                                      :class => ((parent? && !current_user.parent.car.nil? && current_user.parent.car == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.car.nil? && current_user.parent.car == 3.0) ? true : false) %>
                    <%= f.number_field :car, class: "inputHidden", id: "carHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.car.nil? && current_user.parent.car == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="carLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.car.nil? && current_user.parent.car == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="carHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.car.nil? && current_user.parent.car == 3.0) ? true : false),
                                    id: "carCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="carCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Erste-Hilfe-Zertifikat?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :first_aid, min: 0, max: 2, step: 0.1, id: "first_aidRange",
                                      :class => ((parent? && !current_user.parent.first_aid.nil? && current_user.parent.first_aid == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.first_aid.nil? && current_user.parent.first_aid == 3.0) ? true : false) %>
                    <%= f.number_field :first_aid, class: "inputHidden", id: "first_aidHidden", min: 0, max: 3, step: 0.1 %>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.first_aid.nil? && current_user.parent.first_aid == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="first_aidLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.first_aid.nil? && current_user.parent.first_aid == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="first_aidHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.first_aid.nil? && current_user.parent.first_aid == 3.0) ? true : false),
                                    id: "first_aidCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="first_aidCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Babysitter-Zertifikat?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :babysitter_certificate, min: 0, max: 2, step: 0.1,
                                      id: "babysitter_certificateRange", :class => ((parent? && !current_user.parent.babysitter_certificate.nil? && current_user.parent.babysitter_certificate == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.babysitter_certificate.nil? && current_user.parent.babysitter_certificate == 3.0) ? true : false) %>
                    <%= f.number_field :babysitter_certificate, class: "inputHidden", id: "babysitter_certificateHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.babysitter_certificate.nil? && current_user.parent.babysitter_certificate == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="babysitter_certificateLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.babysitter_certificate.nil? && current_user.parent.babysitter_certificate == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="babysitter_certificateHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.babysitter_certificate.nil? && current_user.parent.babysitter_certificate == 3.0) ? true : false),
                                    id: "babysitter_certificateCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="babysitter_certificateCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>
          </div>
        </div>
        <!---------------------------------------------------->
        <div id="informationActivities" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Hausaufgabenhilfe?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :homework, min: 0, max: 2, step: 0.1, id: "homeworkRange",
                                      :class => ((parent? && !current_user.parent.homework.nil? && current_user.parent.homework == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.homework.nil? && current_user.parent.homework == 3.0) ? true : false) %>
                    <%= f.number_field :homework, class: "inputHidden", id: "homeworkHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.homework.nil? && current_user.parent.homework == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="homeworkLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.homework.nil? && current_user.parent.homework == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="homeworkHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.homework.nil? && current_user.parent.homework == 3.0) ? true : false),
                                    id: "homeworkCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="homeworkCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Wäsche waschen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :laundry, min: 0, max: 2, step: 0.1, id: "laundryRange",
                                      :class => ((parent? && !current_user.parent.laundry.nil? && current_user.parent.laundry == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.laundry.nil? && current_user.parent.laundry == 3.0) ? true : false) %>
                    <%= f.number_field :laundry, class: "inputHidden", id: "laundryHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.laundry.nil? && current_user.parent.laundry == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="laundryLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.laundry.nil? && current_user.parent.laundry == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="laundryHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.laundry.nil? && current_user.parent.laundry == 3.0) ? true : false),
                                    id: "laundryCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="laundryCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Kleine Besorgungen erledigen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :run_errands, min: 0, max: 2, step: 0.1, id: "run_errandsRange",
                                      :class => ((parent? && !current_user.parent.run_errands.nil? && current_user.parent.run_errands == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.run_errands.nil? && current_user.parent.run_errands == 3.0) ? true : false) %>
                    <%= f.number_field :run_errands, class: "inputHidden", id: "run_errandsHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.run_errands.nil? && current_user.parent.run_errands == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="run_errandsLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.run_errands.nil? && current_user.parent.run_errands == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="run_errandsHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.run_errands.nil? && current_user.parent.run_errands == 3.0) ? true : false),
                                    id: "run_errandsCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="run_errandsCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Ins Bett bringen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :to_bed, min: 0, max: 2, step: 0.1, id: "to_bedRange",
                                      :class => ((parent? && !current_user.parent.to_bed.nil? && current_user.parent.to_bed == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.to_bed.nil? && current_user.parent.to_bed == 3.0) ? true : false) %>
                    <%= f.number_field :to_bed, class: "inputHidden", id: "to_bedHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.to_bed.nil? && current_user.parent.to_bed == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="to_bedLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.to_bed.nil? && current_user.parent.to_bed == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="to_bedHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.to_bed.nil? && current_user.parent.to_bed == 3.0) ? true : false),
                                    id: "to_bedCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="to_bedCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Kochen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :cooking, min: 0, max: 2, step: 0.1, id: "cookingRange",
                                      :class => ((parent? && !current_user.parent.cooking.nil? && current_user.parent.cooking == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.cooking.nil? && current_user.parent.cooking == 3.0) ? true : false) %>
                    <%= f.number_field :cooking, class: "inputHidden", id: "cookingHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.cooking.nil? && current_user.parent.cooking == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="cookingLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.cooking.nil? && current_user.parent.cooking == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="cookingHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.cooking.nil? && current_user.parent.cooking == 3.0) ? true : false),
                                    id: "cookingCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="cookingCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Körperpflege (Duschen, Wickeln etc.)?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :bodycare, min: 0, max: 2, step: 0.1, id: "bodycareRange",
                                      :class => ((parent? && !current_user.parent.bodycare.nil? && current_user.parent.bodycare == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.bodycare.nil? && current_user.parent.bodycare == 3.0) ? true : false) %>
                    <%= f.number_field :bodycare, class: "inputHidden", id: "bodycareHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.bodycare.nil? && current_user.parent.bodycare == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="bodycareLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.bodycare.nil? && current_user.parent.bodycare == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="bodycareHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.bodycare.nil? && current_user.parent.bodycare == 3.0) ? true : false),
                                    id: "bodycareCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="bodycareCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Füttern?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :feed, min: 0, max: 2, step: 0.1, id: "feedRange",
                                      :class => ((parent? && !current_user.parent.feed.nil? && current_user.parent.feed == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.feed.nil? && current_user.parent.feed == 3.0) ? true : false) %>
                    <%= f.number_field :feed, class: "inputHidden", id: "feedHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.feed.nil? && current_user.parent.feed == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="feedLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.feed.nil? && current_user.parent.feed == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="feedHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.feed.nil? && current_user.parent.feed == 3.0) ? true : false),
                                    id: "feedCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="feedCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Vorlesen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :read, min: 0, max: 2, step: 0.1, id: "readRange",
                                      :class => ((parent? && !current_user.parent.read.nil? && current_user.parent.read == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.read.nil? && current_user.parent.read == 3.0) ? true : false) %>
                    <%= f.number_field :read, class: "inputHidden", id: "readHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.read.nil? && current_user.parent.read == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="readLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.read.nil? && current_user.parent.read == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="readHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.read.nil? && current_user.parent.read == 3.0) ? true : false),
                                    id: "readCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="readCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Musik machen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :music, min: 0, max: 2, step: 0.1, id: "musicRange",
                                      :class => ((parent? && !current_user.parent.music.nil? && current_user.parent.music == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.music.nil? && current_user.parent.music == 3.0) ? true : false) %>
                    <%= f.number_field :music, class: "inputHidden", id: "musicHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.music.nil? && current_user.parent.music == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="musicLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.music.nil? && current_user.parent.music == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="musicHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.music.nil? && current_user.parent.music == 3.0) ? true : false),
                                    id: "musicCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="musicCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Führerschein?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :sports, min: 0, max: 2, step: 0.1, id: "sportsRange",
                                      :class => ((parent? && !current_user.parent.sports.nil? && current_user.parent.sports == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.sports.nil? && current_user.parent.sports == 3.0) ? true : false) %>
                    <%= f.number_field :sports, class: "inputHidden", id: "sportsHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.sports.nil? && current_user.parent.sports == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="sportsLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.sports.nil? && current_user.parent.sports == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="sportsHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.sports.nil? && current_user.parent.sports == 3.0) ? true : false),
                                    id: "sportsCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="sportsCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Schwimmen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :swimming, min: 0, max: 2, step: 0.1, id: "swimmingRange",
                                      :class => ((parent? && !current_user.parent.swimming.nil? && current_user.parent.swimming == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.swimming.nil? && current_user.parent.swimming == 3.0) ? true : false) %>
                    <%= f.number_field :swimming, class: "inputHidden", id: "swimmingHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.swimming.nil? && current_user.parent.swimming == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="swimmingLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.swimming.nil? && current_user.parent.swimming == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="swimmingHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.swimming.nil? && current_user.parent.swimming == 3.0) ? true : false),
                                    id: "swimmingCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="swimmingCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Malen und Zeichnen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :painting, min: 0, max: 2, step: 0.1, id: "paintingRange",
                                      :class => ((parent? && !current_user.parent.painting.nil? && current_user.parent.painting == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.painting.nil? && current_user.parent.painting == 3.0) ? true : false) %>
                    <%= f.number_field :painting, class: "inputHidden", id: "paintingHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.painting.nil? && current_user.parent.painting == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="paintingLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.painting.nil? && current_user.parent.painting == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="paintingHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.painting.nil? && current_user.parent.painting == 3.0) ? true : false),
                                    id: "paintingCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="paintingCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>

            <div class="panel panel-default" style="text-align: center">
              <div class="panel-heading">
                <div class="attributeLabel">Ausflüge unternehmen?</div>
              </div>
              <div class="row panel-body">
                <div class="col-xs-2"></div>
                <div class="col-xs-4 outerSlider">
                  <div class="relevanceSlider">
                    <%= f.range_field :excursions, min: 0, max: 2, step: 0.1, id: "excursionsRange",
                                      :class => ((parent? && !current_user.parent.excursions.nil? && current_user.parent.excursions == 3.0) ? "greyslider greyRunner mandatoryRange" : "mandatoryRange"),
                                      :disabled => ((parent? && !current_user.parent.excursions.nil? && current_user.parent.excursions == 3.0) ? true : false) %>
                    <%= f.number_field :excursions, class: "inputHidden", id: "excursionsHidden", min: 0, max: 3, step: 0.1%>
                  </div>
                  <div class="<%= ((parent? && !current_user.parent.excursions.nil? && current_user.parent.excursions == 3.0) ? 'greyRelevance lowRelevance' : 'lowRelevance')%>" id="excursionsLowRelevance">egal</div>
                  <div class="<%= ((parent? && !current_user.parent.excursions.nil? && current_user.parent.excursions == 3.0) ? 'greyRelevance highRelevance' : 'highRelevance')%>" id="excursionsHighRelevance">wichtig</div>
                </div>
                <div class="col-xs-4">
                  <div class="onoffswitch-mandatory">
                    <%= f.check_box :noname, :checked => ((parent? && !current_user.parent.excursions.nil? && current_user.parent.excursions == 3.0) ? true : false),
                                    id: "excursionsCheck", class: "mandatoryCheck onoffswitch-checkbox-mandatory"%>
                    <label class="onoffswitch-label-mandatory" for="excursionsCheck">
                      <span class="onoffswitch-inner-mandatory"></span>
                      <span class="onoffswitch-switch-mandatory"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-2"></div>
              </div>
            </div>
          </div>
          <div class="col-xs-1"></div>
        </div>

        <!---------------------------------------------------->
        <div id="informationAvailability" class="sitterInformation">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10 availabilityTableOuter">
              <div class="row singleDateRow">
                <div class="col-xs-2"></div>
                <div class="col-xs-3 attributeLabel">Dauer der Beschäftigung: </div>
                <div class="col-xs-4">
                  <select id="singleDateSelect">
                    <option disabled selected>bitte auswählen</option>
                    <option <%=(parent? && (current_user.parent.valid_from.to_s == current_user.parent.valid_until.to_s)) ? "selected" : "" %>>einmalig</option>
                    <option <%=(parent? && !(current_user.parent.valid_from.to_s == current_user.parent.valid_until.to_s)) ? "selected" : "" %>>für einen Zeitraum</option>
                  </select>
                </div>
                <div class="col-xs-2"></div>
              </div>
              <div class ="row validTimes <%= (parent?) ? '' : 'invisible'%>" id="validTimesRow">
                <div class="col-xs-3">
                  <div class="timeLabel" id="singleDate1">*In der Zeit vom:</div>
                  <%= f.text_field :valid_from, id: 'dt1', class: "form-control"%>
                </div>
                <div class="col-xs-3" id="singleDate2">
                  <div class="timeLabel">*Bis zum:</div>
                  <%= f.text_field :valid_until, id: 'dt2', class: "form-control"%>
                </div>
                <div class="col-xs-6"></div>
              </div>
              <div class="availabilityCalendar <%= (parent?) ? '' : 'invisible'%>" id="CalendarRow">
                <div class="row calendarRow">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-3 calendarWeekendSideColumn"></div>
                  <div class="col-xs-1 calendarWeekdayColumn">Mo</div>
                  <div class="col-xs-1 calendarWeekdayColumn">Di</div>
                  <div class="col-xs-1 calendarWeekdayColumn">Mi</div>
                  <div class="col-xs-1 calendarWeekdayColumn">Do</div>
                  <div class="col-xs-1 calendarWeekdayColumn">Fr</div>
                  <div class="col-xs-1 calendarWeekendColumn">Sa</div>
                  <div class="col-xs-1 calendarWeekendColumn">So</div>
                  <div class="col-xs-1"></div>
                </div>
                <div class="row calendarRow">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-3 calendarSideColumn">Vormittags</div>

                  <div class="col-xs-1 calendarColumn" id="cal1"></div>
                  <div class="col-xs-1 calendarColumn" id="cal2"></div>
                  <div class="col-xs-1 calendarColumn" id="cal3"></div>
                  <div class="col-xs-1 calendarColumn" id="cal4"></div>
                  <div class="col-xs-1 calendarColumn" id="cal5"></div>
                  <div class="col-xs-1 calendarColumn" id="cal6"></div>
                  <div class="col-xs-1 calendarColumn" id="cal7"></div>
                  <div class="col-xs-1"></div>
                </div>
                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-3 calendarSideColumn">Über Mittag</div>
                  <div class="col-xs-1 calendarColumn" id="cal8"></div>
                  <div class="col-xs-1 calendarColumn" id="cal9"></div>
                  <div class="col-xs-1 calendarColumn" id="cal10"></div>
                  <div class="col-xs-1 calendarColumn" id="cal11"></div>
                  <div class="col-xs-1 calendarColumn" id="cal12"></div>
                  <div class="col-xs-1 calendarColumn" id="cal13"></div>
                  <div class="col-xs-1 calendarColumn" id="cal14"></div>
                  <div class="col-xs-1"></div>
                </div>
                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-3 calendarSideColumn">Nachmittags</div>
                  <div class="col-xs-1 calendarColumn" id="cal15"></div>
                  <div class="col-xs-1 calendarColumn" id="cal16"></div>
                  <div class="col-xs-1 calendarColumn" id="cal17"></div>
                  <div class="col-xs-1 calendarColumn" id="cal18"></div>
                  <div class="col-xs-1 calendarColumn" id="cal19"></div>
                  <div class="col-xs-1 calendarColumn" id="cal20"></div>
                  <div class="col-xs-1 calendarColumn" id="cal21"></div>
                  <div class="col-xs-1"></div>
                </div>
                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-3 calendarSideColumn">Abends</div>
                  <div class="col-xs-1 calendarColumn" id="cal22"></div>
                  <div class="col-xs-1 calendarColumn" id="cal23"></div>
                  <div class="col-xs-1 calendarColumn" id="cal24"></div>
                  <div class="col-xs-1 calendarColumn" id="cal25"></div>
                  <div class="col-xs-1 calendarColumn" id="cal26"></div>
                  <div class="col-xs-1 calendarColumn" id="cal27"></div>
                  <div class="col-xs-1 calendarColumn" id="cal28"></div>
                  <div class="col-xs-1"></div>
                </div>
                <div class="row">
                  <div class="col-xs-1"></div>
                  <div class="col-xs-3 calendarSideColumn">Über Nacht</div>
                  <div class="col-xs-1 calendarColumn" id="cal29"></div>
                  <div class="col-xs-1 calendarColumn" id="cal30"></div>
                  <div class="col-xs-1 calendarColumn" id="cal31"></div>
                  <div class="col-xs-1 calendarColumn" id="cal32"></div>
                  <div class="col-xs-1 calendarColumn" id="cal33"></div>
                  <div class="col-xs-1 calendarColumn" id="cal34"></div>
                  <div class="col-xs-1 calendarColumn" id="cal35"></div>
                  <div class="col-xs-1"></div>
                </div>
              </div>
            </div>
            <div class="col-xs-1"></div>
          </div>
          <%= f.hidden_field :time, :value => "" , :id => "timeField"%>
        </div>

        <!---------------------------------------------------->
        <div id="informationContent" class="row sitterInformation">
          <div class="col-xs-1"></div>
          <div class="col-xs-10">
            <div class="attributeLabel">Beschreibung</div>
            Hier können Sie zusätzliche Informationen angeben. (Nur sichtbar für Nannies, denen Sie eine Anfrage schicken.)
            <%= f.text_area :content, class: "form-control",
                            style: "margin-top:24px"%>
          </div>
          <div class="col-xs-1"></div>
        </div>
      </div>
    </div>

    <br />
    <%= f.hidden_field :user_id, :value => current_user.id.to_i %>
    <div class="saveButton">
      <%= f.submit "Profil speichern", class: "btn btn-primary createButton" %>
    </div>
<% end %>









<!---------------------------------------------------->
<script>

  //  Rate slider
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 9,
      max: 30,
      values: [ 12, 25 ],
      slide: function( event, ui ) {
        $( "#lower_amount" ).val( ui.values[ 0 ] );
        $( "#upper_amount" ).val( ui.values[ 1 ] );
        $('#amountDiv').html( "*Stundenlohn:   " + ui.values[ 0 ] + " €" + " - " + ui.values[ 1 ] + " €" );
      }
    });
    $( "#lower_amount" ).val( $( "#slider-range" ).slider( "values", 0 ) );
    $( "#upper_amount" ).val( $( "#slider-range" ).slider( "values", 1 ) );
    $('#amountDiv').html( "*Stundenlohn: " + "€" + $( "#slider-range" ).slider( "values", 0 ) +
        " - €" + $( "#slider-range" ).slider( "values", 1 ) );
  } );


  //  Age Selectmenu
  //  $( "#gender" ).selectmenu();
  //  $( "#kidsSelect" ).selectmenu();
  var kids = 1
  var kidsChecked = 0;
  $( "#kidsSelect" ).selectmenu({
    change: function( event, ui ) {
      kids = ui.item.index + 1;
      if (kids > 1) {
        $("#bothGenders").attr("disabled", false);
        $("#gender").selectmenu("refresh");
      } else {
        $("#gender").val("Junge");
        $("#bothGenders").attr("disabled", true);
        $("#gender").selectmenu("refresh");
        $("#genderField").val("1");
      }
      if ((kidsChecked > kids) && (kids !== 4)) {
        $('.ageCheck').each(function( index ) {
          this.checked = false;
        });
        kidsChecked = 0;
      }
      $("#kidsField").val(kids);
    }
  });
  $('.ageCheck').on('click', function () {
    if (this.checked) {
      kidsChecked++;
      if ((kidsChecked > kids) && (kids !== 4)) {
        this.checked = false;
        kidsChecked--;
      }
    } else {
      kidsChecked--;
    }
  });


  //  Selectors
  $( "#gender" ).selectmenu({
    change: function( event, ui ) {
      $( "#genderField" ).val(ui.item.index);
    }});

  $( "#nannyGender" ).selectmenu({
    change: function( event, ui ) {
      $( "#nannyGenderField" ).val(ui.item.index);
    }});

  $( "#experienceSelect" ).selectmenu({
    change: function( event, ui ) {
      $( "#experienceField" ).val(ui.item.index);
    }});




  //-----attributes - slider-----//
  $('.mandatoryCheck').change(function() {
    var id = this.id.substring(0,this.id.length - 5);
    if(this.checked) {
      $('#' + id + 'Hidden').val('3.0');
      $('#' + id + 'Range').addClass('greyslider');
      $('#' + id + 'Range').addClass('greyRunner');
      $('#' + id + 'Range').prop('disabled', true);
      $('#' + id + 'LowRelevance').addClass('greyRelevance');
      $('#' + id + 'HighRelevance').addClass('greyRelevance');
    } else {
      $('#' + id + 'Hidden').val($('#' + id + 'Range').val());
      $('#' + id + 'Range').prop('disabled', false);
      $('#' + id + 'Range').removeClass('greyslider');
      $('#' + id + 'Range').removeClass('greyRunner');
      $('#' + id + 'LowRelevance').removeClass('greyRelevance');
      $('#' + id + 'HighRelevance').removeClass('greyRelevance');
    }
  });
  $('.mandatoryRange').on('input', function() {
    var id = this.id.substring(0,this.id.length - 5);
    $('#' + id + 'Hidden').val($('#' + id + 'Range').val());
  });



  //-------------------------------------------//




  //-----sidebar-----//
  function showInformationBasics() {
    $('#informationAboutMe').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationBasics').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'white');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
  }
  function showInformationAboutMe() {
    $('#informationBasics').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationAboutMe').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'white');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
  }
  function showInformationActivities() {
    $('#informationBasics').css('display', 'none');
    $('#informationAboutMe').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationActivities').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'white');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
  }
  function showInformationAvailability() {
    $('#informationBasics').css('display', 'none');
    $('#informationAboutMe').css('display', 'none');
    $('#informationContent').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationAvailability').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'white');
  }
  function showInformationContent() {
    $('#informationBasics').css('display', 'none');
    $('#informationAboutMe').css('display', 'none');
    $('#informationActivities').css('display', 'none');
    $('#informationAvailability').css('display', 'none');
    $('#informationContent').css('display', 'block');

    $('#informationAboutMeButton').css('background-color', 'inherit');
    $('#informationActivitiesButton').css('background-color', 'inherit');
    $('#informationBasicsButton').css('background-color', 'inherit');
    $('#informationAvailabilityButton').css('background-color', 'inherit');
    $('#informationContentButton').css('background-color', 'white');
  }



  //-----AVAILABILITY-----//



  //--nur ein Tag
  $( "#singleDateSelect" ).selectmenu({
    change: function( event, ui ) {
      if (ui.item.index == 1) {
        $('#singleDate2').addClass('invisible');
        $('#singleDate1').html('*Für den:');
        $('#CalendarRow').removeClass('invisible');
        $('#validTimesRow').removeClass('invisible');
        $('#dt2').datepicker('setDate',  $('#dt1').datepicker('getDate'))
      } else {
        $('#singleDate2').removeClass('invisible');
        $('#singleDate1').html('*In der Zeit vom:');
        $('#CalendarRow').removeClass('invisible');
        $('#validTimesRow').removeClass('invisible');
      }
    }});



  //--calender date picker
  $("#dt1").datepicker({
    format: "yyyy-mm-dd",
    startDate: "today",
    autoclose: true,
    language: "de"
  });
  $('#dt2').datepicker({
    format: "yyyy-mm-dd",
    startDate: "today",
    autoclose: true,
    language: "de"
  });

  //second date should be equal or higher than first date
  $("#dt1").datepicker().on("changeDate", function(e) {
    var date = $('#dt1').datepicker('getDate');
    //date.setDate(date.getDate() + 1);
    $('#dt2').datepicker('setStartDate', date);
    $('#dt2').datepicker('setDate', date);
    makeField();
  });
  $("#dt2").datepicker().on("changeDate", function(e) {
    var date1 = $('#dt1').datepicker('getDate');
    var date2 = $('#dt2').datepicker('getDate');
    //check to prevent a user from entering a date below date of dt1
    if (date2 < date1) {
      var startDate = $('#dt2').datepicker('getStartDate');
      $('#dt2').datepicker('setDate', startDate);
    }
    makeField();
  });

  function makeField() {
    var date1 = $('#dt1').datepicker('getDate');
    var date2 = $('#dt2').datepicker('getDate');
    var difference = date2/86400000-date1/86400000;

    for (i = 1; i <= 35; i++) {
      calArray[i] = false;
      calAllowedArray[i] = false;
      $('#cal'+i).css('background-color', 'white');
    }
    if (date1 !== null) {
      if (difference < 7) {
        date1 = date1.getDay() === 0 ? 7 : date1.getDay();
        for (var i = date1; i <= date1 + difference; i++) {
          for (var j = 0; j < 5; j++) {
            calAllowedArray[(((i - 1) % 7) + 1) + 7 * j] = true;
            $('#cal' + ((((i - 1) % 7) + 1) + 7 * j)).css('background-color', '#F5F5F2');
          }
        }
      } else {
        for (i = 1; i <= 35; i++) {
          calAllowedArray[i] = true;
          $('#cal' + i).css('background-color', '#F5F5F2');
        }
      }
    }
  }


  //-----timepicker-----//
  var calArray = [false];
  var calAllowedArray = [false];



  $( document ).ready(function(){

    //wenn "einmalig" zu Beginn ausgewählt dann display wie oben
    if ($( "#singleDateSelect" ).val() === "einmalig") {
      $('#singleDate2').addClass('invisible');
      $('#singleDate1').html('*Für den:');
      $('#CalendarRow').removeClass('invisible');
      $('#validTimesRow').removeClass('invisible');
      $('#dt2').datepicker('setDate',  $('#dt1').datepicker('getDate'))
    }


    $('#dt1').val("<%=parent? ? current_user.parent.valid_from : ""%>").datepicker("update");
    $('#dt2').val("<%=parent? ? current_user.parent.valid_until : ""%>").datepicker("update");
    makeField();
    //schleifenvariable vom Javascript im Embedded Ruby is a pain in the ass
    calArray[1] = <%=(parent? && @times.include?('1'))%>;
    calArray[2] = <%=(parent? && @times.include?('2'))%>;
    calArray[3] = <%=(parent? && @times.include?('3'))%>;
    calArray[4] = <%=(parent? && @times.include?('4'))%>;
    calArray[5] = <%=(parent? && @times.include?('5'))%>;
    calArray[6] = <%=(parent? && @times.include?('6'))%>;
    calArray[7] = <%=(parent? && @times.include?('7'))%>;
    calArray[8] = <%=(parent? && @times.include?('8'))%>;
    calArray[9] = <%=(parent? && @times.include?('9'))%>;
    calArray[10] = <%=(parent? && @times.include?('10'))%>;
    calArray[11] = <%=(parent? && @times.include?('11'))%>;
    calArray[12] = <%=(parent? && @times.include?('12'))%>;
    calArray[13] = <%=(parent? && @times.include?('13'))%>;
    calArray[14] = <%=(parent? && @times.include?('14'))%>;
    calArray[15] = <%=(parent? && @times.include?('15'))%>;
    calArray[16] = <%=(parent? && @times.include?('16'))%>;
    calArray[17] = <%=(parent? && @times.include?('17'))%>;
    calArray[18] = <%=(parent? && @times.include?('18'))%>;
    calArray[19] = <%=(parent? && @times.include?('19'))%>;
    calArray[20] = <%=(parent? && @times.include?('20'))%>;
    calArray[21] = <%=(parent? && @times.include?('21'))%>;
    calArray[22] = <%=(parent? && @times.include?('22'))%>;
    calArray[23] = <%=(parent? && @times.include?('23'))%>;
    calArray[24] = <%=(parent? && @times.include?('24'))%>;
    calArray[25] = <%=(parent? && @times.include?('25'))%>;
    calArray[26] = <%=(parent? && @times.include?('26'))%>;
    calArray[27] = <%=(parent? && @times.include?('27'))%>;
    calArray[28] = <%=(parent? && @times.include?('28'))%>;
    calArray[29] = <%=(parent? && @times.include?('29'))%>;
    calArray[30] = <%=(parent? && @times.include?('30'))%>;
    calArray[31] = <%=(parent? && @times.include?('31'))%>;
    calArray[32] = <%=(parent? && @times.include?('32'))%>;
    calArray[33] = <%=(parent? && @times.include?('33'))%>;
    calArray[34] = <%=(parent? && @times.include?('34'))%>;
    calArray[35] = <%=(parent? && @times.include?('35'))%>;

    var result = "";
    for (i = 1; i <= 35; i++) {
      if (calArray[i]) {
        $('#cal'+i).css('background-color', '#D7F0DA');
        result += i + ","
      } else {
        if (calAllowedArray[i]) {
          $('#cal' + i).css('background-color', '#F5F5F2');
        }
      }
    }
    result = result.substring(0,result.length-1);
    $('#timeField').val(result);


    //für checkboxen: variablen setzen beim zweiten mal laden für document.ready
    <% if (parent? && !current_user.parent.kids.nil?)%>
    kids = <%=current_user.parent.kids%>;
    <% end %>
    $('.ageCheck').each(function( index ) {
      if ((this.checked) && (kidsChecked < 4)) {
        kidsChecked++
      }
    });
  });
  //  Document.ready ENDE


  $('.calendarColumn').on('click',function () {
    var index = parseInt(this.id.substring(3,this.id.length));
    if (calAllowedArray[index]) {
      calArray[index] = !calArray[index];
      if (calArray[index]) {
        $('#' + this.id).css('background-color', '#D7F0DA');
      } else {
        $('#' + this.id).css('background-color', '#F5F5F2');
      }

      var result = "";
      for (i = 1; i <= 35; i++) {
        if(calArray[i]) {
          result += i + ","
        }
      }
      result = result.substring(0,result.length-1);
      $('#timeField').val(result);
    }
  });

  $('.calendarColumn').hover(function() {
    var index = parseInt(this.id.substring(3,this.id.length));
    if (calAllowedArray[index]) {
      $('#' + this.id).css( 'cursor', 'pointer' );
    }
  }, function() {
    var index = parseInt(this.id.substring(3,this.id.length));
    $('#' + this.id).css( 'cursor', 'default' );
  });

</script>