<!--ONLY ADMIN-->

<% provide(:title, 'Alle Eltern') %>

<% if logged_in? and !@users.nil? and current_user.admin? %>

    <h3 style="margin:12px;text-align: center "><%= @users.count %> registrierte Eltern.</h3>

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <table id="parentIndex" class="display table table-striped table-bordered" cellspacing="0" width="100%">
          <thead>
          <tr>
            <th><strong>Eltern Name</strong></th>
            <th><strong>Wohnort</strong></th>
            <th><strong>Kinder</strong></th>
            <th><strong>Elternprofil seit</strong></th>
            <th><strong>Premium?</strong></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |parent| %>
              <tr>
                <td><a href="../users/<%=parent.id%>"><%= parent.name %></a></td>
                <td><%= parent.parent.city %></td>
                <td><%= parent.parent.kids > 1 ? (parent.parent.kids.to_s + " Kinder") : "1 Kind" %></td>
                <td><%= parent.parent.created_at.strftime("%d.%m.%y") %></td>
                <td><%= (parent.premium? ? "Premium" : "") %></td>
                <td><a data-confirm="Das Elternprofil wirklich löschen? Abhängige Anfragen werden entfernt." rel="nofollow" data-method="delete" href="/parents/<%=parent.parent.id%>">
                  <span class="glyphicon glyphicon-remove"></span> Elternprofil löschen</a></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-xs-1"></div>
    </div>
<% end %>

