<% provide(:title, "Matches") %>

<% if logged_in? and parent? %>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10 searchBox">
        <% if current_user.parent.sorting.nil? %>
            <div class="row searchRow">
              <div class="col-xs-6 col-xs-offset-3 startSearch">
                <%= form_tag(controller: "parents", action: "optimize", method: "post") do %>
                  <%= label_tag(:searchsize, "Suche nach:") %>
                  <div class="searchsizeValue" id='target'>5</div> <strong>beste Matches.</strong>
                  <%= range_field_tag(:searchsize, '5', min: 1, max: 10, step: 1,
                                      class: 'searchsizeRange', id: 'ranger') %>
                  <span class="optimize-btn"><%= button_tag(type: "submit", controller: "parents", action: "optimize",
                                                         method: "post", class: "btn btn-default searchButton") do %>
                      <i class="glyphicon glyphicon-search"></i>
                  <% end %></span>
                <% end %>
              </div>
            </div>
        <% else %>
          <div class="row searchRow">
            <div class="col-xs-4"></div>
            <div class="col-xs-4 searchSide">
              <%= form_tag(controller: "parents", action: "optimize", method: "post") do %>
                  <span id="searchFor">Gefunden: </span>
                  <div class="searchsizeValue" id='target'><%= @assigned_nannies.nil? ? '5' : @assigned_nannies.size %></div> beste Matches.
                  <span class="optimize-btn"><%= button_tag(type: "submit", controller: "parents", action: "optimize",
                                                         method: "post", class: "btn btn-default refreshButton") do %>
                        <i class="glyphicon glyphicon-refresh"></i>
                    <% end %></span>
                  <div class="searchsizeRanger"><%= range_field_tag(:searchsize, @assigned_nannies.nil? ? '5' : @assigned_nannies.size, min: 1, max: 10, step: 1,
                                                                    class: 'searchsizeRange', id: 'ranger') %></div>
              <% end %>
            </div>
            <div class="col-xs-4 sortSide">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                  Sortieren nach <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Matching", {:controller => 'sortings', :action => 'by_matching'}, :method => :post,
                                  role: "button", :disabled => current_user.parent.sorting.by_matching? %></li>
                  <li><%= link_to "Erstellungsdatum", {:controller => 'sortings', :action => 'by_created_at'}, :method => :post,
                                  role: "button", :disabled => current_user.parent.sorting.by_created_at? %></li>
                  <li><%= link_to "Preis", {:controller => 'sortings', :action => 'by_rate'}, :method => :post,
                                  role: "button", :disabled => current_user.parent.sorting.by_rate? %></li>
                </ul>
              </div>
            </div>
        </div>

        <div class="greyBox">
          <% if !@assigned_nannies.nil? %>
              <% max_nannie_value = @assigned_nannies_value[0] %>
              <% @assigned_nannies.each_with_index do |n, index|%>
                  <div class="whiteBox">
                    <div class="row">
                      <div class="col-xs-2 gravatarColumn">
                        <a href="../users/<%=n.user.id%>" >
                          <%= gravatar_for User.find_by(id: n.user.id), size: 100  %></a>
                      </div>
                      <div class="col-xs-4">
                        <a href="../users/<%=n.user.id%>" class="nannyName">
                          <%= n.user.name %></a>
                      </div>
                      <div class="col-xs-6 matchedNanniesButtons">
                        <div style="display:inline-block">
                          <% if current_user.following?(n.user) %>
                              <%= form_for(current_user.active_relationships.find_by(followed_id: n.user.id),
                                           html: { method: :delete }) do |f|  %>
                                  <%= button_tag(type: "submit", class: "btn btn-danger") do %>
                                      <span><i class="glyphicon glyphicon-heart-empty"></i> Vergessen</span>
                                  <% end %>
                              <% end %>
                          <% else %>
                              <%= form_for(current_user.active_relationships.build,
                                           :url => url_for(:controller => 'relationships', :action => 'create')) do |f| %>
                                  <%= hidden_field_tag :followed_id, n.user.id %>
                                  <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                      <span><i class="glyphicon glyphicon-heart"></i> Merken</span>
                                  <% end %>
                              <% end %>
                          <% end %>
                        </div>
                        <div style="display:inline-block">
                          <%= link_to conversations_path(parent_user_id: current_user.id, job_user_id: n.user.id),
                                      method: "post", :class => "btn btn-default" do %>
                              <span class="glyphicon glyphicon-envelope"></span> Kontakt
                          <% end %>
                        </div>
                        <div style="display:inline-block">
                          <% request = current_user.parent.active_requests.find_by(potential_id: n.id) %>
                          <% if !request.nil? and !request.paid? and !request.accepted? %>
                              <%= form_for(request, html: { method: :delete }) do |f| %>
                                  <%= button_tag(type: "submit", class: "btn btn-success") do %>
                                      <span><i class="glyphicon glyphicon-circle-arrow-down"></i> Anfrage zurück</span>
                                  <% end %>
                              <% end %>
                          <% end %>
                          <% if !request.nil? and !request.paid? and request.accepted? %>
                              <%= form_for(request, :url => url_for(:controller => 'requests', :action => 'pay')) do |f| %>
                                  <%= hidden_field_tag(:request_id, request.id) %>
                                  <%= button_tag(type: "submit", class: "btn btn-primary",
                                                 :data => {:confirm => 'Wenn Sie diese Nanny buchen, werden alle offenen Anfragen gelöscht. Möchten Sie fortfahren?'})  do %>
                                      <span><i class="glyphicon glyphicon-euro"></i> Bezahlen</span>
                                  <% end %>
                              <% end %>
                          <% end %>
                          <% if request.nil? %>
                              <%= form_for current_user.parent.active_requests.build,
                                           :url => url_for(:controller => 'requests', :action => 'create') do |f| %>
                                  <%= f.hidden_field :potential_id, :value =>  n.id%>
                                  <%= f.hidden_field :start_date,:value => current_user.parent.valid_from %>
                                  <%= f.hidden_field :end_date,:value => current_user.parent.valid_until %>
                                  <%= f.hidden_field :time,:value => current_user.parent.time %>
                                  <%= hidden_field_tag(:the_requested_user, n.id) %>
                                  <%= button_tag(type: "submit", class: "btn btn-default") do %>
                                      <span><i class="glyphicon glyphicon-circle-arrow-up"></i> Anfrage stellen</span>
                                  <% end %>
                              <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                    <div class="row profileAgeAndCity">
                      <div class="col-xs-3 ageColumn">
                        Alter: <%=n.age%>
                      </div>
                      <div class="col-xs-3 cityColumn">
                        wohnt in: <%=n.city%>
                      </div>
                      <div class="col-xs-3 rateColumn">
                        Stundenlohn: <%=n.rate%> €
                      </div>
                      <div class="col-xs-3 matchingColumn">
                        Matching:
                        <% if (@assigned_nannies_value[index] / max_nannie_value) >= 0.8 %>
                            <div class="matchingValue" style="background-color:#99ff99">
                              <%= @assigned_nannies_value[index].to_i %>%
                            </div>
                        <% end %>
                        <% if (((@assigned_nannies_value[index] / max_nannie_value) < 0.8) and
                            ((@assigned_nannies_value[index] / max_nannie_value) >= 0.6 ))%>
                            <div class="matchingValue" style="background-color:#ffff99">
                              <%= @assigned_nannies_value[index].to_i %>%
                            </div>
                        <% end %>
                        <% if (@assigned_nannies_value[index] / max_nannie_value) < 0.6 %>
                            <div class="matchingValue" style="background-color:#ffb3b3">
                              <%= @assigned_nannies_value[index].to_i %>%
                            </div>
                        <% end %>
                      </div>
                    </div>
                    <div class="row profileContent">
                      <div class="col-xs-9">
                        <%= n.content %>
                        <div class="profileCreatedAt">Zuletzt aktualisiert vor <%= time_ago_in_words(n.updated_at) %>.</div>
                      </div>
                      <div class="col-xs-3"></div>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
      <div class="col-xs-1"></div>
    </div>
<% end %>



<script>
  $('.optimize-btn').on("click", function() {
    $('#loading_spinner').show();
  });
  $('#ranger').on( 'input', function() {
    $('#target').text( $('#ranger').val() );
    $('#searchFor').html( "Suche nach: " );
  });
</script>

