@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$some-grey: #EBEBE8;
$babyblue: #c5e5ee;
$anorange: #F08380;
$deepgreen: #3D6968;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.backgroundImage {
  background-image: url('mom-1.jpg');
}

#btnrotate {
  -o-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border: none;
  background: none;
}

/* universal */

* {
  font-family: "Open Sans", sans-serif;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.navbar-inverse {
  background-color: #3D6968;
  border: none;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.gravatar {
  border-radius: 12px;
}

/* header and glyphs */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
  &:focus {
    color: white;
    text-decoration: none;
  }
}

.navbarButton {
  padding-top:4px;
}

.navbar-inverse {
  .accountToggle {
    font-size: 20px;
    padding-top: 21px;
    margin-top: 0px;
    color: #c5e5ee !important;
    &:hover {
      color: #F08380 !important;
    }
  }
  .glyphicon-user {
    font-size: 25px;
    color: #c5e5ee;
    &:hover {
      color: #F08380;
    }
  }
  .glyphicon-envelope {
    font-size: 25px;
    color: #c5e5ee;
    &:hover {
      color: #F08380;
    }
  }
  .glyphicon-question-sign {
    font-size: 25px;
    color: #c5e5ee;
    &:hover {
      color: #F08380;
    }
  }
  .glyphicon-align-left {
    font-size: 25px;
    color: #c5e5ee;
    &:hover {
      color: #F08380;
    }
  }
  .glyphicon-home {
    font-size: 25px;
    color: #c5e5ee;
    &:hover {
      color: #F08380;
    }
  }
  .glyphicon-log-in {
    font-size: 25px;
    color: #c5e5ee;
    &:hover {
      color: #F08380;
    }
  }
}

.glyphicon-heart {
  font-size: 20px;
}

.glyphicon-heart-empty {
  font-size: 20px;
}

.glyphicon-envelope {
  font-size: 20px;
}

.glyphicon-circle-arrow-down {
  font-size: 20px;
}

.glyphicon-circle-arrow-up {
  font-size: 20px;
}

.glyphicon-time {
  font-size: 20px;
}

.glyphicon-euro {
  font-size: 20px;
}

.glyphicon-user {
  font-size: 20px;
}


.navbar {
  .glyphicon-star {
    font-size: 14px;
    color: black;
  }
}

.adminButton {
  font-size: 20px;
  padding-top: 21px !important;
  margin-top: 0px;
  color: #F08380 !important;
  &:hover {
      color: #c5e5ee !important;
  }
}

  .loginButton {
  font-size: medium;
  color: #c5e5ee;
  font-weight: bold;
  &:hover {
    color: #F08380 !important;
  }
}

.loginButtonText {
  display: inline-flex;
  padding-left: 4px;
  font-size: medium;
  color: #c5e5ee;
  font-weight: bold;
  padding-left:4px;

}


/* StartPage */

.startPageButtonNanny {
  padding: 25px 30px 25px 30px;
  font-size: 24px;
  width: 125px;
  background-color: $anorange;
  border:none;
  font-weight:bold;
  &:hover {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid $anorange;
    color:$anorange;
  }
}

.startPageButtonParent {
  padding: 25px 30px 25px 30px;
  font-size: 24px;
  width: 125px;
  background-color: $deepgreen;
  border:none;
  font-weight:bold;
  &:hover {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid $deepgreen;
    color:$deepgreen;
  }
}
.startPageButtonWrapper {
  right: 70%;
  top: 20%;
  position: absolute;
}
.startPageCarousel {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width:100%;
  height: 100%;
}

.carousel-caption {
  position: absolute;
  top: 10%;
}
.smallerStartPageButtonParent {
  background-color: white;
  border: 2px solid $deepgreen;
  font-weight:bold;
  color:$deepgreen;
  width:100px;
  &:hover {
    background-color: $deepgreen;
    background-repeat: no-repeat;
    color:white;
    border:none;
  }
}
.smallerStartPageButtonNanny {
  background-color: white;
  border: 2px solid $anorange;
  font-weight:bold;
  color:$anorange;
  width:100px;
  &:hover {
    background-color: $anorange;
    background-repeat: no-repeat;
    color:white;
    border:none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.hidingFooter {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -100;
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.heartButtons {
  width: 76px !important;
}

/* form control*/

.error_explanation {
  color: #c4110d;

  width: 50%;
  ul {
    color: #c4110d;
    margin: 24px 0 24px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: #c4110d;
  }
}

.flashMessage {
  margin: 0 auto;
  padding: 12px;
  width: 80%;
  text-align: center;
  > div {
    margin-bottom: 0;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

/*NannyBox*/

.sittercontainer {
  border-radius: 12px;
  border: 5px solid #EBEBE8;
  > div {
    padding: 0;
  }
  > .sidebar {
    background-color: #F5F5F2;
    border-right: 5px solid #EBEBE8;
  }
}

.submit {
  text-align: center;
  .createButton {
    width: 25%;
    margin: auto;
  }
}

.saveButton {
  text-align: right;
  .createButton {
    width: 25%;
    margin: auto;
  }
}

.sitterSidebarButton {
  div {
    text-align: center;
    width: 100%;
    border-top: 1px dashed;
    h2 {
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
  :hover {
    background-color: rgb(225, 225, 225);
    cursor: pointer;

  }
}

#informationContentButton {
  border-bottom: 1px dashed;
}

.labelRow {
  margin: 12px;
  height: 40px;
}

.parentPropertiesRowTop {
  padding-top: 12px;
}

.ui-selectmenu-button.ui-button {
  width: 100% !important;
}

.textCentering {
  text-align: center;
}

.marginCentering {
  margin: 0 auto;
}

.sitterInformation {
  padding: 20px 0 10px 0;
  display: none;
}

.availabilityTableOuter {
  //padding: 12px;
  margin-bottom: 15px;
}

.singleDateRow {
  margin-bottom: 24px;
}

.validTimes {
  margin-bottom: 10px;
}

.availabilityCalendar {
  text-align: center;
  .calendarRow {
    height: 40px;
  }
  .calendarColumn {
    padding: 0;
    background-color: #F5F5F2;
    border-bottom: dashed 1px darkgrey;
    border-left: solid 2px white;
    height: 40px;
  }
  .calendarWeekdayColumn {
    padding: 9px 0 0 0;
    background-color: #FCECB2;
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    height: 40px;
  }
  .calendarWeekendColumn {
    padding: 9px 0 0 0;
    background-color: #FADC71;
    border-left: solid 2px white;
    border-bottom: solid 2px white;
    height: 40px;
  }
  .calendarSideColumn {
    padding: 10px 0 0 0;
    border-bottom: dashed 1px darkgrey;
    height: 40px;
  }
}

.timeLabel {
  padding-bottom: 6px;
  font-weight: bold;
}

.attributeLabel {
  padding: 0;
  font-weight: bold;
  top: 5px;
}

.invisible {
  visibility: hidden
}

.parentPropertiesRow {
  margin: 18px 0 18px 0;
}

.jobPropertiesRowBottom {
  margin-bottom: 10px;
}

.jobPropertiesRowTop {
  margin-top: 10px;
}

.rateAmount {
  font-weight: bold;
}

.rateSlider {
  padding-top: 5px;
}

.parentInfos {
  .alert {
    background-color: white;
  }
  .alert-warning {
    border-color: #EBEBE8;
  }
}

.outerSlider {
  position: relative;
  padding: 0;
  .lowRelevance {
    position: absolute;
    margin: 0;
    left: 0;
    top: 24px;
  }
  .highRelevance {
    position: absolute;
    margin: 0;
    right: 0;
    top: 24px;
  }
  .relevanceSlider {
    margin-left: 10px;
  }
  .attributeLabel {
    padding: 0;
    font-weight: bold;
    top: 5px;
  }
}

.jobAttributesColumn {
  margin: 12px 0 12px 0;
}

.calendarColumnGreen {
  padding: 0;
  background-color: #D7F0DA;
  border-bottom: dashed 1px darkgrey;
  border-left: solid 2px white;
  height: 40px;
}

/* profile feed */

.userBox {
  margin-top: 12px;
  padding: 0 0 12px 0;
  background-color: $gray-lighter;
  border-radius: 12px;
  display: inline-block
}

.premiumBox {
  margin-top: 12px;
  padding: 0 0 12px 0;
  background-color: #FCECB2;
  border-radius: 12px;
  display: inline-block
}

.userInfoBox {
  padding: 24px;
  margin-bottom: 24px;
  .userName {
    font-size: 25px;
  }
}

.profileAgeAndCity {
  font-weight: bold;
  text-align: center;
  padding: 12px;
}

.ageColumn {
  //margin-left:12px;
  padding: 6px 0 6px 12px;
  border-top: 1px dashed lightgrey;
  border-bottom: 1px dashed lightgrey;
}

.cityColumn {
  margin: 0;
  padding: 6px 0 6px 0;
  border-top: 1px dashed lightgrey;
  border-bottom: 1px dashed lightgrey;
}

.rateColumn {
  margin: 0;
  padding: 6px 0 6px 0;
  border-top: 1px dashed lightgrey;
  border-bottom: 1px dashed lightgrey;
}

.matchingColumn {
  margin: 0;
  padding: 6px 0 6px 0;
  text-align: center;
  border-top: 1px dashed lightgrey;
  border-bottom: 1px dashed lightgrey;
  height: 34px;
}

.kidsColumn {
  padding: 6px 0 6px 12px;
  font-weight: normal;
  text-align: left;
}

.matchingValue {
  line-height: 20px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  white-space: nowrap;
  font-size: 14px;
  width: 80px;
  border-radius: 4px;
}

.profileContent {
  padding: 12px 0 12px 6px;
  .overflowContent {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.profileRating {
  margin-bottom:15px;
  .glyphicon-star {
    font-size: 16px;
    color: #F08380;
  }
  .glyphicon-star-empty {
    font-size: 16px;
    color: $gray-lighter;
  }
}
.ratingsCounter{
  color: lightgray;
  padding-bottom: 6px;
  font-style: italic;
}

.profileCreatedAt {
  padding: 24px 0 0 0;
  font-weight: bold;
  font-style: italic;
}

.profileAttributes {
  padding: 12px 0 12px 0;
}

.timestamp {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

.eachOnList {
  margin: 12px;
  padding: 12px 12px 0 12px;
  background-color: white;
  overflow: auto;
  display: inline-block;
  min-width: 220px;
  text-align: left;
}

.eachOnRemeberList {
  padding: 12px 12px 0 12px;
  background-color: white;
  overflow: auto;
  display: inline-block;
  min-width: 220px;
  text-align: left;
}

.cogButton {
  position: absolute;
  right: 12px;
  top: 12px;
  .glyphicon-cog {
    font-size: 25px;
    color: #F08380;
  }
  .btn-default {
    border: none !important;
  }
}

.matchButton {
  .btn {
    padding: 3px 20px 3px 20px;
    border: none;
  }
}

.matchingInfo {
  padding-bottom: 18px;
}

.premiumButton {
  text-align: right;
}

.premiumAlign {
  font-size:16px;
  padding-right: 12px;
  text-align: center;
  display: inline-block;
}

.glyphicon-star {
  font-size: 26px;
  color: #F08380;
}

.glyphicon-trash {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #F08380;
  font-size: 20px;
}

.timestamp {
  position: absolute;
  right: 15px;
  bottom: 10px;
}

.potentialsBox {
  margin: 12px;
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  display: block;
}

.requestHeader {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px dashed lightgrey;
  margin: 18px 0 12px 0;
  padding: 0px 0 6px 0px;
}

.eachRequest {
  text-align: center;
  margin: 6px 0 12px 0;
}

.acceptButton {
  margin: 0 6px 6px 6px;
  width: 170px;
}

.dismissButton {
  width: 170px;
}

.mailbox {
  margin: 12px;
  padding: 12px;
  background-color: white;
  border-radius: 12px;
}

.mailFeed {
  padding: 0 12px 0 12px;
}

.mailboxLink {
  margin-top: 12px;
  padding: 12px;

  text-align: left;
}

.lastMessageBox {
  margin-top: 12px;
  padding: 12px;
  border: 1px solid $gray-lighter;
  border-radius: 12px;
  text-align: left;
  min-width: 250px;
  display: inline-block;
  overflow: auto;
}

.paymentButton {
  padding: 24px;
  text-align: center;
}

/* nanny - search */

.startSearch {
  text-align: center;
  padding-top: 12px;
  .searchButton {
    margin: 12px;
  }
  .glyphicon-search {
    font-size: 40px;
  }
}

.searchBox {
  margin-top: 12px;
  padding: 0 0 12px 0;
  background-color: $gray-lighter;
  border-radius: 12px;
}

.searchRow {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 24px;
  margin-bottom: 24px;

  .searchSide {
    text-align: center;
    vertical-align: center;
  }
  .sortSide {
    text-align: right;
  }
  .refreshButton {
    margin-left: 12px;
    background-color: #FCECB2;
  }
  .glyphicon-refresh {
    font-size: 20px;
  }
}

.searchsizeField {
  width: 80px;
}

.searchsizeValue {
  margin: 0 0px 0 6px;
  font-weight: bold;
  display: inline-block;
}

.matchedNannies {
  margin: 12px;
  padding: 12px;
  position: relative;
  background-color: white;
  border-radius: 12px;

  .content {
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.matchedNanniesButtons {
  padding: 0;
  text-align: right;
}

.searchField {
  padding-left: 15px;
  .glyphicon-search {
    font-size: 25px;
  }
  .btn.btn-small {
    margin-right: 15px;
    margin-top: 12.5px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
  }
}

/* Conversations */

.conversationsBox {
  margin-top: 12px;
  padding: 0 0 12px 0;
  background-color: $gray-lighter;
  border-radius: 12px;
  .eachConversation {
    margin: 12px;
    padding: 12px;
    background-color: white;
    border-radius: 12px;
    overflow: auto;
    display: inline-block;
    min-width: 250px;
    text-align: left;
    position: relative;
    .openChat {
      bottom: 12px;
      right: 48px;
      position: absolute;
    }
    .glyphicon-trash {
      font-size: 18px;
      position: absolute;
      top: auto;
      right: 12px;
      bottom: 12px;
    }
  }
  .headline {
    padding: 12px 0 12px 12px;
    font-size: 24px;
    color: #F08380;
  }
  .conversationsInner {
    text-align: center;
  }
}

/* Ratings  */

.panelHeader {
  text-align: center;
  margin: 0;
}

.panelTitle {
  padding: 10px 0 10px 0;
}

.eachRating {
  margin: 12px;
  padding: 12px 12px 24px 12px;
  border-bottom: 1px solid $gray-lighter;
  background-color: white;
  position: relative;
  .glyphicon-star {
    font-size: 16px;
    color: #0099FF;
  }
  .glyphicon-star-empty {
    font-size: 16px;
    color: $gray-lighter;
  }
}

.eachRatingCategoryTop {
  padding: 24px 0 12px 0;
}

.eachRatingCategoryBottom {
  padding: 12px 0 24px 0;
}

.ratingContent {
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratingCreatedAt {
  padding: 24px 0 0 0;
  font-weight: bold;
  font-style: italic;
}

/* Messages */

.messageBox {
  margin-top: 12px;
  padding: 12px;
  background-color: $gray-lighter;
  border-radius: 12px;
  .eachMessage {
    padding: 0 12px 0 12px;
  }
  .messageReply {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    .replyForm {
      width: 66%;
    }
  }
}

.messageText {
  padding-top: 12px;
  overflow-wrap: break-word;
}

.right-align {
  margin-bottom: 12px;
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  text-align: left;
}

.left-align {
  margin-bottom: 12px;
  padding: 12px;
  background-color: white;
  border-radius: 12px;
  text-align: left;
  //display: inline-block;
}

.messagesUserInfoBox {
  padding: 12px 24px 24px 12px;
  margin-bottom: 24px;
  display: inline-block;
  .userName {
    font-size: 25px;
  }
}

.olderMessages {
  padding: 0px 12px 12px 12px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signUp {
  font-size: 16px;
  text-align: center;
}

//----------------------------------

.greyBox {
  margin: 12px 0 12px 0;
  padding: 0;
  border-radius: 12px;
  background-color: $gray-lighter;
}

.whiteBox {
  margin: 12px;
  padding: 12px;
  border-radius: 12px;
  background-color: white;
  position: relative;
}

.orangeLine {
  height: 1px;
  margin: auto 12px auto 12px;
  border-radius: 12px;
  background-color: #F08380;
}

.headline {
  padding-bottom: 12px;
  font-size: 24px;
  color: #F08380;
}

.gravatarColumn {
  width: 120px;
  height: 120px;
}

.nannyName {
  font-size: 24px;
}

.glyphicon-trash {
  position: absolute;
  right: 12px;
  top: 12px;
  color: #F08380;
  font-size: 20px;
}

.availabilityBox {
  border-top: dashed 1px lightgrey;
  padding-top: 24px;
}

//DATATABLE
table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 6px !important;
  max-width: none !important;
  border-collapse: separate !important
}

table.dataTable td, table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
  text-align: center
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
  text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 8px;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap
}

div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0
}

table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
  padding-right: 30px
}

table.dataTable thead > tr > th:active, table.dataTable thead > tr > td:active {
  outline: none
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  font-family: 'Glyphicons Halflings';
  opacity: 0.5
}

table.dataTable thead .sorting:after {
  opacity: 0.2;
  content: "\e150"
}

table.dataTable thead .sorting_asc:after {
  content: "\e155"
}

table.dataTable thead .sorting_desc:after {
  content: "\e156"
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
  color: #eee
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important
}

div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none
}

div.dataTables_scrollBody table tbody tr:first-child th, div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none
}

div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none
}

@media screen and (max-width: 767px) {
  div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
    text-align: center
  }
}

table.dataTable.table-condensed > thead > tr > th {
  padding-right: 20px
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
  top: 6px;
  right: 6px
}

table.table-bordered.dataTable th, table.table-bordered.dataTable td {
  border-left-width: 0
}

table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable th:last-child, table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable td:last-child {
  border-right-width: 0
}

table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
  border-bottom-width: 0
}

div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0
}

div.table-responsive > div.dataTables_wrapper > div.row {
  margin: 0
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
  padding-left: 0
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
  padding-right: 0
}

/*Popup Modal */

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Stars checker */

form .stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
  margin: 0 auto;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}

form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}

form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}

form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}

form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}

form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 !important;
  padding: 0 !important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent !important;
  cursor: pointer;
}

form .stars label:hover ~ span {
  background-position: 0 -30px;
}

form .stars label.star-5:hover ~ span {
  width: 100% !important;
}

form .stars label.star-4:hover ~ span {
  width: 80% !important;
}

form .stars label.star-3:hover ~ span {
  width: 60% !important;
}

form .stars label.star-2:hover ~ span {
  width: 40% !important;
}

form .stars label.star-1:hover ~ span {
  width: 20% !important;
}

form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

/* loading spinner */
.loading-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.4);
  .loader {
    position: relative;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    margin: 0 auto;
    background-image: url("01-progress.gif");
    width: 200px;
    height: 200px;
  }
}

/*sliders*/

.inputHidden {
  display: none;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #B4BDAF;
  background: #FFFFFF;
  border-radius: 1px;
  border: 0px solid #FFFFFF;
}

input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #FFFFFF;
  height: 21px;
  width: 21px;
  border-radius: 20px;
  background: #428BCA;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6.5px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #B4BDAF;
  background: #FFFFFF;
  border-radius: 1px;
  border: 0px solid #FFFFFF;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #FFFFFF;
  height: 21px;
  width: 21px;
  border-radius: 20px;
  background: #428BCA;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #B4BDAF;
}

input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 0px 0px 0px #B4BDAF;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0px solid #FFFFFF;
  height: 21px;
  width: 21px;
  border-radius: 20px;
  background: #428BCA;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF;
}

input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
}

.greyslider::-webkit-slider-thumb {
  background: #f2f2f2 !important;
}

.greyRunner {
  border: 1px solid #f2f2f2;
}

.greyRelevance {
  color: #f2f2f2;
}

//CHECKBOX - On-Off-Switch

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Ja";
  padding-left: 14px;
  background-color: #428BCA;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "Nein";
  padding-right: 14px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 20px;
  margin: 5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

//On-Off-Switch-Nanny (for mandatories)

.onoffswitch-mandatory {
  position: relative;
  width: 134px;
  margin: 0 0 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox-mandatory {
  display: none;
}

.onoffswitch-label-mandatory {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999;
  border-radius: 20px;
}

.onoffswitch-inner-mandatory {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner-mandatory:before, .onoffswitch-inner-mandatory:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}

.onoffswitch-inner-mandatory:before {
  content: "unbedingt";
  padding-left: 0px;
  background-color: #428BCA;
  color: #FFFFFF;
}

.onoffswitch-inner-mandatory:after {
  content: "";
  padding-right: 0px;
  background-color: #EEEEEE;
  color: #999999;
  text-align: right;
}

.onoffswitch-switch-mandatory {
  display: block;
  width: 18px;
  margin: 6px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 85px;
  border: 2px solid #999999;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox-mandatory:checked + .onoffswitch-label-mandatory .onoffswitch-inner-mandatory {
  margin-left: 0;
}

.onoffswitch-checkbox-mandatory:checked + .onoffswitch-label-mandatory .onoffswitch-switch-mandatory {
  right: 0px;
}

//checkboxes
.checkbox-custom, .radio-custom {
  opacity: 0;
  position: absolute;
}

.checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
  cursor: pointer;
}

.checkbox-custom-label, .radio-custom-label {
  position: relative;
}

.checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
  content: '';
  background: #fff;
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  padding: 2px;
  margin-right: 10px;
  text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
  background: #428BCA;
}

.radio-custom + .radio-custom-label:before {
  border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
  background: #ccc;
}

.checkbox-custom:focus + .checkbox-custom-label, .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
  outline: none;
}