<footer class="footer">
  <small>
    BabyRitter, von Sören Schindler und Tim Kammann
  </small>
  <nav>
    <ul>
      <li><%= link_to "Info", about_path %></li>
    </ul>
  </nav>
</footer>