<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to root_path, id: "logo", style:"padding:6px 0 6px 0;" do %>
        <%= image_tag 'babyritter_logo.png'%>
    <% end %>
    <nav>
      <div class="navbar-header">
        <button type="button" class=" navbar-toggle" id="btnrotate" data-toggle="collapse" data-target="#myNavbar" onclick="navcollapsetrigger()">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? and current_user.admin? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle adminButton" data-toggle="dropdown">
                  Admin <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li class="matchButton">
                    <span class="optimize-btn">
                      <%= button_to "Starte Matching", {controller: "matchings", action: "match",}, {class: 'btn btn-default'} %>
                    </span>
                  </li>
                  <li class="divider"></li>
                  <li><%= link_to "Alle Nannies", jobs_path %></li>
                  <li><%= link_to "Alle Eltern", parents_path %><li>
                  <li><%= link_to "Admin Mailbox", conversations_path %></li>
                  <li><%= link_to "Matching Übersicht", index_path %><li>
                </ul>
              </li>
          <% end %>
          <% if logged_in? and parent? and current_user.premium? %>
              <li class="searchField">
                <% if !current_user.parent.sorting.nil? %>
                    <%= button_to search_path, class: "btn btn-small", style:"background-color:#FCECB2;", :method => "get" do %>
                        <i class="glyphicon glyphicon-search"></i>
                    <% end %>
                <% else %>
                    <%= form_tag(controller: "parents", action: "optimize", method: "post") do %>
                        <%= hidden_field_tag(:searchsize, 5) %>
                        <span class="optimize-btn">
                          <%= button_tag(type: "submit", controller: "parents", action: "optimize",
                                         method: "post", class: "btn btn-small", style:"background-color:#FCECB2;") do %>
                              <i class="glyphicon glyphicon-search"></i>
                              </span>
                          <% end %>
                    <% end %>
                <% end %>
              </li>
          <% end %>
          <% if logged_in? %>
              <li class="navbarButton"><%= link_to current_user do %>
                    <i class="glyphicon glyphicon-user"></i>
                <% end %></li>
              <% if !current_user.admin? %>
              <li class="navbarButton"><%= link_to ratings_user_path(current_user) do %>
                    <i class="glyphicon glyphicon-align-left"></i>
                <% end %></li>
              <% end %>
              <li class="navbarButton"><%= link_to conversations_path do %>
                     <i class="glyphicon glyphicon-envelope"></i>
                  <% end %></li>
              <li class="navbarButton"><%= link_to help_path do %>
                    <i class="glyphicon glyphicon-question-sign"></i>
                <% end %></li>
              <li class="navbarButton"><%= link_to root_path do %>
                    <i class="glyphicon glyphicon-home"></i>
                <% end %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle accountToggle" data-toggle="dropdown" style="color:white">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <% if parent? and current_user.premium? %>
                      <li><%= link_to proto_premium_path do %>
                            <span class="glyphicon glyphicon-star"></span> Premium verwalten
                        <% end %></li>
                  <% end %>
                  <% if parent? or current_user.admin? %>
                    <li><%= link_to calculators_path do %>
                         <span class="glyphicon glyphicon-wrench"></span> Gams Pfad
                       <% end %></li>
                  <% end %>
                  <li><%= link_to edit_user_path(current_user) do %>
                        <span class="glyphicon glyphicon-cog"></span> Einstellungen
                    <% end %></li>
                  <li class="divider"></li>
                  <li><%= link_to logout_path, method: "delete" do %>
                    <span class="glyphicon glyphicon-off"></span> Ausloggen
                  <% end %></li>
                </ul>
              </li>
          <% else %>
              <li class="navbarButton"><%= link_to help_path do %>
                    <i class="glyphicon glyphicon-question-sign"></i>
                <% end %></li>
              <li class="loginButton"><%= link_to login_path, style:"margin-top: 4px" do %>
                    <span class="glyphicon glyphicon-log-in"></span> <div class="loginButtonText">Log in</div>
                <% end %>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>



<script>
  $('.optimize-btn').on("click", function() {
    $('#loading_spinner').show();
  });
</script>