<!DOCTYPE html>
<html>

<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag 'application', media: 'all',
                          'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <!--für den Rate-Slider-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>

  <%= render 'layouts/header' %>

  <div class="container">
    <div class="row flashMessage">
    <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
    <% end %>
    </div>

    <%= yield %>

    <% unless @disable_footer %>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
    <% end %>
  </div>

    <!--LOADING SPINNER-->
    <div id="loading_spinner" class="loading-container" style="display:none">
      <div class="loader"></div>
    </div>

</body>

</html>